h2 { font-size: 38px; }
h3 { font-size: 30px; }
h4 { font-size: 20px; }
.logo { width: 40px; margin-top: -5px; margin-right: 10px; }
#main-content {  }
.bs-component { margin-top: 30px; }
.panel-primary .panel-heading a { color: white; }
.panel-body ul { padding: 0; list-style: none; }
.sidebar-nav {
  position: relative;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}