#homepage {
    font-family: "times new roman", times, serif;
    line-height: 15px;
}
#homepage img {
    vertical-align: middle;
}
#homepage .authors {
    line-height: 15px;
    text-transform: uppercase;
}
#homepage .author {
    line-height: 15px;
    font-size: 11px;
    font-family: 'Helvetica neue', Helvetica, arial, serif;
    color: #5c5c5c;
}
body#homepage time, body#homepage .magazine-time {
    text-transform: uppercase;
    font-family: 'Helvetica neue', Helvetica, arial, serif;
    color: #5c5c5c;
    font-size: 11px;
}
body#homepage #container,
body#homepage .middle {
    width: 1012px;
}
body#homepage .middle {
    margin-top: 0;
}
@media only screen and (max-device-width: 1024px) {
    body#homepage {
        width: 1024px;
    }
}

ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
#ad-push {
    margin-bottom:10px;
    min-height: 66px;
}

#homepage-top-content {
    position: relative;
}
#homepage-top-content .rubric {
    display: inline-block;
    background-color: #ed1c24;
    padding: 10px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    color: white;
    font-size: 9px;
    letter-spacing: 1px;
}
#homepage-top-content:after {
    content: " ";
    display: table;
    clear: both;
}
#homepage-top-content .ad-top-box-right .ad-inner {
    min-height: 250px;
    min-width: 300px;
}
#homepage-top-content.tall-ad .promo-right {
    display: none;
}
#homepage-top-content.tall-ad .ad-top-box-right {
    height: 600px;
}
#carousel {
    width: 650px;
    height: 600px;
    float: left;
    position: relative;
    line-height: 1;
    font-family: arial;
    padding: 0 15px;
}

#carousel,
#carousel article.item header {
    background-color: #252525;
}

#carousel,
#carousel a,
#carousel a:link,
#carousel a:active,
#carousel a:visited {
    color: #fff;
    text-decoration: none;
}

#carousel .carousel-inner {
    overflow: hidden;
    width: 650px;
    height: 523px;
    position: relative;
}
#carousel nav {
    margin: 8px 15px 4px 15px;
    border-top: solid 1px #ed1c24;
    position: absolute;
    bottom: 15px;
    z-index: 2;
}
#carousel nav a {
    display: block;
    width: 138px;
    height: 45px;
    padding: 8px;
    line-height: 15px;
    float: left;
    text-align: center;
    position: relative;
}
#carousel nav a.active {
    color: gray;
}
#carousel nav a.active .hat {
    background: #ed1c24;
    width: 65px;
    height: 4px;
    display: block;
    position: absolute;
    top: -2px;
    left: 42px;
}

#carousel article.item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 650px;
    height: 523px;
    padding-top: 25px;
}

#carousel article.item a {
    display: block;
    width: 650px;
}

#carousel article.item .authors,
#carousel article.item .authors .author {
    text-transform: uppercase;
    font-weight:bold;
    color: #fff;
}
#carousel article.item header {
    text-align: center;
    position: absolute;
    bottom: 72px;
    width: 650px;
    left: 50%;
    margin-left: -325px;
    min-height: 66px;
    padding: 20px 10px 0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#carousel article.sponsored header {
    bottom: 55px;
}
#carousel article.item header h1 {
    font-weight: normal;
    font-family: times;
    font-size: 30px;
    padding-bottom: 8px;
    letter-spacing: 1px;
}
#carousel article.item > img {
    display: block;
    line-height: 1;
}
#carousel article.item .dek {
    line-height: 18px;
}
#carousel article.item.active {
    display: block;
}
#carousel a.carousel-control {
    position: absolute;
    top: 40%;
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #222222;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    display: none;
    z-index: 3;
}
#carousel a.carousel-control.right {
    left: auto;
    right: 15px;
}
#carousel:hover a.carousel-control {
    display: block;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#carousel a.carousel-control:hover {
    color: #ffffff;
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

/* Sponsored Carousel */
#carousel .sponsored .rubric
{
    display: block;
    font-size: 10px;
    padding: 0 0 2px 0;
    margin: 0;
    text-transform:uppercase;
    background-color: transparent;
    color: #fffad2;
}
#carousel article.sponsored header h1 {
    font-family: arial, sans-serif;
    font-size: 24px;
    line-height: 31px;
}
#carousel .sponsored header .rubric {
    text-transform: uppercase;
    padding-bottom: 6px;
    color: #fffad2;
    font-family: "arial bold", arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
}

/* Top Right Promo Module */
.promo-right {
    height: 318px;
    width:300px;
    background:#252525;
    font-family:Helvetica, Arial, sans-serif;
    line-height:1;
    position: absolute;
    top: 0;
    right: 0;
}
.promo-right .img {
    display: block;
    width: 300px;
    height: 173px;
    background-size: cover;
    background-position: center center;
}
.promo-right .words {
    position:absolute;
    background:#252525;
    bottom:0;
    padding: 10px 10px 25px 10px;
    width:280px;

}
.promo-right .words h2 {
    font-family: "times new roman", times, serif;
    color:#fff;
    text-transform:none;
    margin:0 0 5px 0;
    margin-top:5px;
    font-weight: normal;
    font-size:22px;
}
#homepage-top-content .promo-right .words .authors {
    font-family: 'Helvetica neue', Helvetica, arial, serif;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
}

#homepage-top-content .promo-right,
#homepage-top-content .promo-right a,
#homepage-top-content .promo-right .author {
    color: #fff;
}
#homepage-top-content .promo-right .rubric {
    margin-left: 15px;
}
.promo-right a:hover {
    text-decoration:none;
}

/* Top box right. */
.ad-top-box-right {
    float: right;
    width: 300px;
    height: 250px;
    position: absolute;
    right: 0;
    bottom: 0;
    outline: solid 1px #e1e1e1;
}
.ad-top-box-right .adTopboxright {
    border: none;
    line-height: 0px;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
}

/* Latest News */
.latest-news {
    margin: 15px 0 0 0;
    padding: 3px 0;
    background: #e7e7e7; /* Old browsers */
    background: -moz-linear-gradient(left, #d6d6d6 0%,  #fff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #d6d6d6), color-stop(100%, #fff)); /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(left, #d6d6d6 0%, #fff 100%); /* Chrome10+, Safari5.1+ */
    background: -o-linear-gradient(left, #d6d6d6 0%, #fff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #d6d6d6 0%, #fff 100%); /* IE10+ */
    background: linear-gradient(to right, #d6d6d6 0%, #fff 100%); /* W3C */
    position: relative;
}
.latest-news h2,
.latest-news a {
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

.latest-news h2 {
    letter-spacing: 0.5px;
    font-size: 18px;
    background: #252525;
    font-weight: normal;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
}

.latest-news h2 a {
    text-decoration: none;
    color: white;
}

.latest-news h2 a:hover {
    text-decoration: underline;
}

.latest-news h2::after {
    content: "";
    width: 0; 
    height: 0; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid #252525;
    position: absolute;
    right: -25px;
}
.latest-news ul {
    margin-left: 206px;
}
.latest-news .article {
    margin: 3px 0;
}
.latest-news .article a {
    color: #252525;
}
#homepage .latest-news .article .authors {
    display: inline-block;
    padding-left: 2px;
}
#homepage .latest-news .article .authors a {
    color: #ED1C24;
}

/* Belt */
.belt {
    margin-top: 10px;
    padding: 17px 0;
    overflow: hidden;
}
.belt li {
    float: left;
    height: 100%;
    width: 183px;
    margin-left:24px;
}
.belt li:first-child {
    margin-left: 0;
}
.belt.has-special-report {
    padding-top: 15px;
}
.belt.has-special-report li {
    margin-left: 14px;
}
.belt h3 {
    color: black;
    font-size: 19px;
    line-height: 21px;
    margin-top:3px;
}

.belt p {
    font-family: 'Helvetica neue', Helvetica, arial, serif;
    font-size: 12px;
}

.belt .authors a {
    font-family: 'Helvetica neue', Helvetica, arial, serif;
    line-height: 15px;
}

body#homepage p.dek {
    font-family: 'Helvetica neue', Helvetica, arial, serif;
    color: #5c5c5c;
    line-height: 15px;
    margin:0;
    margin-top: 3px;
    margin-bottom: 3px;
    padding:0;
}

body#homepage .sponsored p.dek {
    font-family: arial, sans-serif;
    color: #5b5b5b;
}

#homepage #homepage-btf hr {
    margin-bottom: 16px;
}

#homepage-btf .adMidleader {
    margin-top: 5px;
    border-top: 1px solid #e1e1e1;
    padding-top: 8px;
    min-height: 90px;
}

.author {
    clear: left;
}

.disqus-comment-count {
    color: black;
    font-family: "Arial Black", Helvetica, Arial, sans-serif;
    font-weight:bold;
    background: url(/static/front/images/disqus-comment.png) no-repeat center left;
    background-repeat: no-repeat;
    padding-left: 14px;
    margin-left: 5px;
    font-size: 10px;
    font-weight: bold;
    vertical-align: top;
}
.disqus-no-comments {
    display: none;
}

.belt a {
    color: black;
}

.belt .special-report {
    width: 160px;
}

.special-report a.more-link {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#5c5c5c;
}

/* Stack Infocus */
.sub-belt-container {
    border-top: 1px solid #e1e1e1;
    padding-top: 8px;
    overflow: hidden;
}

.sub-belt-container .stack {
    width: 500px;
    height: 100%;
    float:left;
}

.sub-belt-container .stack li:first-child {
    border-top: none;
    padding-top: 10px;
}
.sub-belt-container .stack li {
    border-top: 1px solid #e1e1e1;
    min-height: 107px;
    overflow: hidden;
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
    width: 100%;
}

.sub-belt-container .stack article {
    float:left;
    width: 360px;
}

.sub-belt-container .stack .sponsored article {
    width: 355px;
    margin-right: 5px;
}

.sub-belt-container .stack img,
.sub-belt-container .stack .sponsored-img
 {
    float: left;
    margin-right: 10px;
    width: 130px;
    height: 107px;
}

.sub-belt-container .stack h3 {
    width: 100%;
    font-size: 19px;
    line-height: 21px;
    color: black;
}
.sub-belt-container .stack a {
    color: black;
}


.sub-belt-container .stack .author {
    line-height: 15px;
}

.stack .inner-wrap-sponsored-stack-promo {
    background: #fffad2;
    position: relative;
    overflow: hidden;
}

.stack .sponsored article {
    font-family: arial, sans-serif;
    color: #5b5b5b;
}
.stack .sponsored article h3 {
    font-weight: bold;
    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 19px;
}

.stack .sponsored .rubric {
    color: #5b5b5b;
    text-transform: uppercase;
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 10px;
}

/* In Focus */
.module-infocus {
    float:right;
    min-height: 339px;
    width: 467px;
}

.module-infocus h3 {
    width:427px;
    padding: 10px 20px;
}

.module-infocus a:link h3, .module-infocus a:visited h3 {
    color: #fff;
    font-family: Georgia,"Times New Roman",serif;
    padding: 10px 20px;
    display: block;
}

/* Below the fold - Left column */
.left-column {
    width: 200px;
    height: 100%;
    float: left;
}

.writers {
    background: url(/static/front/images/writers-logo.png);
    background-position: center 15px;
    background-repeat: no-repeat;
    border: 2px solid #999999;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 65px;
}

.writers li:first-child {
    border-top:none;
}
.writers li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px dotted black;
}
.left-column {
    position: relative;
}
.left-column .writers a {
    font-size: 12px;
    color: #5c5c5c;
    font-family: 'Helvetica neue', Helvetica, arial, serif;
    letter-spacing: 0px;
    margin-right: 3px;
    line-height: 16px;
}

.left-column .writers h3 {
    margin-bottom: 3px;
}
.left-column .writers h3 a {
    color: black;
    font-size: 16px;
    font-family: "Arial black", sans-serif;
}

.writers article {
    overflow:hidden ;
}

.writers time {
    white-space: nowrap;
    margin-left: -3px;
    border-left: 1px solid #5c5c5c;
    padding-left: 3px;
}

#writer-page-link {
    display: block;
    width: 163px;
    position: absolute;
    left: 18px;
    top: 18px;
    height: 37px;
}
.writers .more {
    text-align:center;
    font-style:normal;
}

.writers .more a {
    color: black;
    background: url(/static/front/images/more.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
}
/* Video */
#homepage .home-video {
    border: 1px solid #ccc;
    padding: 0;
}

#homepage .video-module {
    width: 517px;
    min-height: 430px;
}

section.right-block {
    float:right;
    width: 790px;
}

section.right-block table {
    height: 364px;
    float: right;
}
section.right-block table td {
    margin-left: 10px;
}

section.right-block td.spacer {
    width: 10px;
}
/* Video */

/* Most Popular */
.most-popular {
    width: 226px;
    border: solid 10px #e7e5e4;
    vertical-align: top;
    padding: 0 10px;
}

.module-most-popular h2 {
    color:#000;
    background:#e7e5e4;
    margin:0 -10px;
    padding-bottom:10px;
    font-size:13px;
    font-family:"Arial Black", Helvetica, Arial, sans-serif;
    font-weight:bold;
}

.module-most-popular dt {
    font-family: "Arial Black", Helvetica, Arial, sans-serif;
    font-weight:bold;
    float:left;
    width:20px;
    text-align:right;
    margin-left:-5px;
}

.module-most-popular dd {
    margin-left:25px;
    padding-bottom:5px;
    font-family:Helvetica, Arial, sans-serif;
}

.module-most-popular a:link,
.module-most-popular a:visited {
    color:#000;
}

.channel-grid {
    margin-top:10px;
    float:right;
    width:100%;
    line-height: 15px;
    position:relative;
}
.channel-grid .channel-row:first-child {
    margin-top: 8px;
}
.channel-grid .channel-row {
    padding-top:12px;
    float:left;
    margin-bottom: 8px;
    border-top: 1px solid #E1E1E1;
}

.channel-grid .channel:first-child {
    border-left: none;
    margin-left: 0px;
}

.channel-grid .channel {
    width: 250px;
    margin-left: 20px;
    float:left;
    text-transform: none;
    margin-bottom: 5px;
}

.channel-grid .channel .grid-title {
    display:block;
    margin-bottom: 2px;
    font-family: "HelveticaNeue-CondensedBold", "Arial Narrow", Arial, sans-serif;
    font-weight: bold;
    font-size: 14px/14px;
    letter-spacing: 0.25px;
    color: #ED1C24;
    text-transform: uppercase;
}
.channel-grid .channel .grid-title:hover {
    text-decoration: none;
}

.channel-grid .sponsored {
    padding: 5px;
    background-color: #fffad2;
    font-family: arial, sans-serif;
}
.channel-grid .sponsored .rubric {
    text-transform: uppercase;
    display: block;
    font-size: 9px;
    color: #5b5b5b;
    font-weight: bold;
}
.channel-grid .sponsored .headline {
    display: block;
    font-weight: bold;
    color: black;
}


.channel ul {
    margin-bottom:10px;
}
.channel > a {
    font-weight:bold;
}
.channel h4 {
    margin-top: 0px;
    color: #ed2724;
    text-transform: uppercase;
    font-weight: bold;
}
.channel li:first-child {
    margin-top: 0;
}

.channel li {
    margin-top: 12px;
}

.channel-grid .channel li article > a:first-child {
    display:block;
    width: 100%;
    white-space: normal;
    font-family: "times new roman";
    font-size: 14px;
    font-weight: bold;
    color: black;
    line-height:16px;
    margin-bottom:2px;
}

.channel-grid .channel span.authors a {
    font-family: 'Helvetica neue', Helvetica, arial, serif;
    font-size: 11px;
}
.channel-grid .channel {
    font-family: 'Helvetica neue', Helvetica, arial, serif;
    font-size:12px;
}
.channel-grid .channel article {
    color: #5c5c5c !important;
}
.channel-grid .channel span {
    padding-right:3px;
}
.channel-grid .channel a {
    font-family: 'Helvetica neue', Helvetica, arial, serif;
    font-size:12px;
}

.newsletter-enroll {
    border: 1px solid #ccc;
    padding: 5px;
    font-family: 'Helvetica neue', Helvetica, arial, serif;
    font-size: 12px;
    margin-top: 10px;
}

.newsletter-enroll .logo {
    background-image: url(/static/front/images/newsletter-header.png?v=2);
    background-position: center 10px;
    background-repeat: no-repeat;
    background-color: #ed1c24;
    width: 100%;
    height: 50px;
}


.newsletter-enroll .input a {
    color: black;
}
.newsletter-enroll .input,
.newsletter-enroll .partners {
    padding-left: 2px;
    padding-top: 1px;
}
.newsletter-enroll .partners {
    font-size: 10px;
    padding-top:3px;
}
.newsletter-enroll input {
    float: left;
}

.newsletter-enroll fieldset .inputField {
    width:125px;
}
.newsletter-enroll fieldset .button {
    background: #ed1c24;
    height: 22px;
    cursor: pointer;
    float: right;
    color: #ed1c24;
    width: 30px;
    background-image: url(/static/front/images/right-white-arrow.png);
    background-position: 12px 7px;
    background-repeat: no-repeat;
    border: none;
}

/* Image credits */
#homepage .image-cred {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: 100;
    line-height: 11px;
    padding: 2px 6px;
    text-align: right;
}
#carousel .image-cred{
    position: absolute;
    right: 0;
    top: -26px;
}
.belt .image-cred {
    position: absolute;
    bottom: 0;
    right: 0;
}
.stack figure {
    float: left;
    position: relative;
}
.stack .image-cred {
    bottom: 0;
    position: absolute;
    right: 10px;
}

.channel .image-cred {
    bottom: 0;
    position: absolute;
    right: 0;
}

.channel figure {
    margin-bottom: 5px;
}

#newsletter-signup .message {
    padding: 10px 3px;
}

/* Override styles for homepage queen mode */

body#homepage.homepage-queen-mode .promo-right {
    height: 285px;
    position: relative;
    float: right;
    top: auto;
    right: auto;
    margin-bottom: 30px;
}
body#homepage.homepage-queen-mode .promo-right + .promo-right {
    margin-bottom: 0;
}
body#homepage.homepage-queen-mode #homepage-top-content .promo-right .rubric {
    margin-bottom: 10px;
}
body#homepage.homepage-queen-mode #homepage-top-content.tall-ad .promo-right {
    display: block;
}
body#homepage.homepage-queen-mode .promo-right .words {
    padding-bottom: 20px;
}
body#homepage.homepage-queen-mode #homepage-top-content.tall-ad .ad-top-box-right {
    height: 0;
}
body#homepage.homepage-queen-mode .top-promo-box {
    display: none;
}
