.editionArrow,
#header #utilities ul li#signin-control,
input#searchbuttonNav,
#ticker-controls li#prev,
#ticker-controls li#next,
#footerLogo,
#tr-footer,
#topLink {
     background: url("http://s1.reutersmedia.net/resources_v2/images/sprite-core2.png") no-repeat scroll left top transparent;
}

#foot-facebook,
#foot-linkedin,
#foot-twitter,
#foot-rssfeed,
#foot-podcasts,
#foot-newsletters,
#foot-mobile {
     background: url("http://s4.reutersmedia.net/resources_v2/images/sprite_footer_icons.gif") no-repeat scroll left top transparent;
}

#header {
     background: none repeat scroll 0% 0% #333333;
     display: inline;
     float: left;
     height: auto;
     margin: 0px 0px 10px;
     min-width: 980px;
     overflow: visible;
     padding: 0px;
     width: 100%;
}

#masthead {
     background-color: #333333;
     background-position: 0px -165px;
     background-repeat: repeat-x;
     clear: both;
     height: 67px;
     margin: 0px auto;
     overflow: visible;
     position: relative;
     width: 100%;
     z-index: 16777267;
}

#masthead .mast-strip {
     clear: both;
     height: 76px;
     margin: 0px auto;
     overflow: visible;
     position: relative;
     width: 940px;
}

#header.lockedWidth {
     width: 980px;
}

.whatsThisPopup {
     background: none repeat scroll 0% 0% #333333;
     height: 40px;
     width: 100%;
}

.popup #masthead {
     min-width: 300px;
}

#popup-logo {
     background: url("http://s2.reutersmedia.net/resources_v2/images/reuters120-refersh.gif") no-repeat scroll left top transparent;
     display: block;
     height: 40px;
     width: 120px;
}

#masthead .panel {
     background: none repeat scroll 0% 0% transparent;
     float: left;
     padding: 0px 3px 0px 0px;
     position: relative;
     z-index: 16777266;
}

#masthead #logo {
     background: none repeat scroll 0% 0% transparent;
     float: left;
     height: 45px;
     padding-right: 15px;
     width: 221px;
}

#masthead #logo img {
     margin: 13px 0px 0px;
}

.currentEditionTitle {
     line-height: 13px;
     margin-left: -55px;
}

#editionSwitchTop, #editionSwitchFooter {
     background-color: #6D6D6D;
     border-radius: 3px;
     height: 18px;
     padding: 0px;
     width: 40px;
}

#editionSwitchTop {
     margin: 26px 10px 0px 50px;
}

#editionSwitchFooter {
     margin: 0px 10px 19px 0px;
}

#footerHead .panel.editions {
     margin: 10px 0px 20px;
}

.panel.editions select {
     background-color: #000000;
     border: medium none;
     color: #FFFFFF;
     font-size: 9px;
     padding: 3px;
}

.panel.editions .label, #footerHead #editions .label {
     color: #999999;
     font-family: arial;
     font-size: 9px;
     margin: 18px 10px 0px;
     text-transform: uppercase;
}

.panel.editions #currentedition {
     color: #FFFFFF;
     font-size: 16px;
     font-weight: bold;
     margin: 0px 10px 2px;
}

.panel.editions #change_editions {
     background-position: 0px -126px;
     cursor: pointer;
     display: block;
     height: 9px;
     margin: 0px 10px;
     width: 55px;
}

ul.editionSwitch {
     background: none repeat scroll 0% 0% #6D6D6D;
     list-style: none outside none;
     margin: 0px;
     padding: 0px;
     position: absolute;
}

ul.editionSwitch li div.editionArrow {
     background-position: 0px -1315px;
     float: left;
     height: 17px;
     margin-left: 2px;
     width: 17px;
}

ul.editionSwitch li {
     color: #FFFFFF;
     cursor: pointer;
     float: left;
     list-style-type: none;
     margin: 0px;
     padding: 1px 3px 3px 5px;
     position: relative;
     width: 50px;
}

ul.editionSwitch li span {
     margin-right: 26px;
}

ul.editionSwitch li ul {
     background-color: #FFFFFF;
     border-radius: 2px;
     border: 1px solid #CCCCCC;
     display: none;
     left: 0px;
     list-style: none outside none;
     margin: 0px;
     padding: 5px 8px 5px 1px;
     position: absolute;
     top: 23px;
     width: 99px;
}

ul.editionSwitch li a, ul.editionSwitch li ul li a {
     border-bottom: 1px solid #CCCCCC;
     color: #000000;
     font-size: 11px;
     padding-bottom: 5px;
     text-transform: none;
}

ul.editionSwitch li ul li a:hover {
     color: #006E97;
     text-decoration: none;
}

ul.editionSwitch li ul li {
     width: 92px;
}

ul.editionSwitch li > ul {
     left: 0px;
     top: 20px;
}

ul.editionSwitch li ul li {
     font-size: 10px;
     padding: 5px 5px 0px;
}

ul.editionSwitch li ul li a {
     display: block;
     margin: 0px;
}

ul.editionSwitch li:hover ul, li.over ul {

}

#content {
     clear: left;
}

.currentEditionTitle, .currentEdition {
     display: inline;
     float: left;
     padding-top: 2px;
	 line-height:12px;
}

.currentEdition {
     margin-left: 0px;
     margin-top: 0px;
}

.currentEditionTitle, .currentEdition {
     color: #CCCCCC;
     font-size: 10px;
     text-transform: uppercase;
}

.currentEdition {
     color: #FFFFFF;
}

.twitter_head {
     background: url("http://s1.reutersmedia.net/resources_v2/images/sprite-core2.png") repeat scroll 0px -1361px transparent;
     height: 20px;
     width: 19px;
}

.twitter_head:hover {
     background-position: 0px -1381px;
}

.facebook_head {
     background: url("http://s1.reutersmedia.net/resources_v2/images/sprite-core2.png") repeat scroll 0px -1408px transparent;
     height: 20px;
     width: 18px;
}

.facebook_head:hover {
     background-position: 0px -1429px;
}

.linkedin_head {
     background: url("http://s1.reutersmedia.net/resources_v2/images/sprite-core2.png") repeat scroll 0px -1453px transparent;
     height: 20px;
     width: 15px;
}

.linkedin_head:hover {
     background-position: 0px -1474px;
}

#masthead #suggestedSearch {
     font-size: 0;
    overflow: hidden;
    position: absolute;
    right: -2px;
    top: 47px;
    width: 246px;
    z-index: 16777266;
}

#masthead #suggestedSearchResults {
     background-color: #FFFFFF;
    border-top: none;
    clear: both;
    padding: 0 10px 10px;
}

#masthead #suggestedSearchResults h5 {
     color: #FE8024;
     font-size: 13px;
     margin: 0px;
     padding: 10px 0px 0px;
     text-transform: uppercase;
}

#masthead #suggestedSearchResults ul li {
     border-bottom: 1px solid #EAEAEA;
     font-size: 12px;
     font-weight: bold;
     padding: 5px 0px;
}

#masthead #suggestedSearchResults ul li:hover {
     background: none repeat scroll 0% 0% #f7f7f7;
}

#masthead #suggestedSearchResults ul li:hover a {
     text-decoration: none;
}

#masthead #suggestedSearchResults ul li.selected, #masthead #suggestedSearchResults table tr.selected {
     background-color: #CCCCCC;
}

#masthead #suggestedSearchResults .query {
     color: #000000;
}

#masthead #suggestedSearchResults #companyResults {
     overflow: hidden;
     width: 222px;
}

#masthead #suggestedSearchResults table#companyResultsList {
     border-collapse: collapse;
     margin-bottom: 10px;
     width: 100%;
}

#masthead #suggestedSearchResults table#companyResultsList td {
     border-bottom: 1px solid #EAEAEA;
     padding: 5px 0px;
}

#masthead #suggestedSearchResults #companyResultsList .companyName, #masthead #suggestedSearchResults #companyResultsList .exchange {
     color: #999999;
     font-size: 10px;
     font-weight: bold;
}

#masthead #suggestedSearchResults #companyResultsList .companyName {
     display: block;
     padding: 0px 5px;
}

#masthead #suggestedSearchResults #companyResultsList .ric {
     font-size: 12px;
     font-weight: bold;
}

p#stockLink a {
     color: #000000;
     font-size: 12px;
     font-weight: bold;
}

#masthead #suggestedSearchResults #noResults {
     padding: 10px 0px 0px;
}

#masthead #suggestedSearchResults p {
     margin: 0px;
     padding: 0px;
}

#masthead #utilities {
     background: none repeat scroll 0% 0% transparent;
     clear: none;
     float: right;
     height: 18px;
     margin: 28px 0px 7px;
     overflow: hidden;
     padding: 0px;
     width: auto;
}

#masthead #utilities ul {
     margin: 0px;
     padding: 0px;
}

#masthead #utilities ul li {
     border-left: 1px solid #666666;
     color: #FFFFFF;
     display: inline;
     float: left;
     font-size: 11px;
     padding: 2px 7px;
}

#masthead #utilities ul li.first {
     border: medium none;
     padding: 0px;
}

#masthead #utilities ul li#utils-link-cart {
     border-left: 1px solid #666666;
     margin-left: 7px;
}

#masthead #utilities ul li a {
     border-bottom: medium none;
     color: #CCCCCC;
     float: left;
     font-size: 10px;
     margin-top: 0px;
     padding-top: 1px;
     text-transform: uppercase;
}

#masthead #utilities ul li a:hover {
     border-bottom: medium none;
     color: #FFFFFF;
     text-decoration: underline;
}

.new-social {
     border: medium none ! important;
}

#dd-navigation {
     background-color: #666666;
     background-position: 0px -1px;
     background-repeat: repeat-x;
     clear: both;
}

#nav-strip {
     clear: both;
     height: 36px;
     margin: 0px auto;
     position: relative;
     width: 940px;
     z-index: 16777265;
}

#nav-strip a:hover {
     text-decoration: none;
}

#nav-strip ul {
     margin: 0px;
}

/* Group = Clearfix */
#nav-strip ul:before,
#nav-strip ul:after { /* get rid of this and fix the html */
    content: "";
    display: table;
}

#nav-strip ul:after {
    clear: both;
}

#nav-strip ul {
    zoom: 1; /* IE 7 - trigger hasLayout */
}

#nav-strip ul li.nav-item {
     display: inline;
     float: left;
     height: 36px;
     margin: 0px;
     position: relative;
}

#nav-strip ul li.nav-item.active {
     background-color: #999999;
	 border-left: 1px solid #777777;
    border-right: 1px solid #777777;
}

#nav-strip ul li.nav-item.hover {
     background-color: #999999;
     background-position: 0px -100px;
     background-repeat: repeat-x;
}

#nav-strip ul li.nav-item:hover {
     background-color: #999999 ! important;
}

#nav-strip ul li.nav-item:hover a, #nav-strip ul li.nav-item.hover a {
     color: #FFFFFF;
}

#nav-strip ul li.nav-item.active a {
     background: none repeat scroll 0% 0% #999999;
     color: #FFFFFF;
     height: 16px;
}

#nav-strip ul li .subnav ul.one li
#nav-strip ul li .subnav.double ul.one li:hover {
     background: none repeat scroll 0% 0% #F7F7F7;
	 margin-right:0px;

}
 #nav-strip ul li .subnav.double ul.two li:hover, #nav-strip ul li .subnav ul.one li:hover {
     background: none repeat scroll 0 0 #F7F7F7;

}

#nav-strip ul li.nav-item.active ul li a {
     background: none repeat scroll 0% 0% #FFFFFF;

}

#nav-strip ul li a {
     color: #FFFFFF;
     display: block;
     font-size: 11px;
     font-weight: bold;
     outline: medium none;
     padding-bottom: 10px;
     padding-left: 8px;
     padding-top: 10px;
     text-transform: uppercase;
}

#nav-strip ul li a .primary-link, #nav-strip ul li.active a .primary-link, #nav-strip ul li.hover a .primary-link {
     background: url("http://s4.reutersmedia.net/resources_v2/images/sprite-nav.png") no-repeat scroll 0% 0% transparent;
     position: relative;
     top: 2px;
}

#nav-strip ul li a .primary-link {
     background-position: 103% -139px;
     padding-right: 21px;
}

#nav-strip ul li.active a .primary-link  {
    background-position: 103% -191px !important;
}

#nav-strip ul li.hover a .primary-link {
     background-position: 103% -191px !important;
}

#nav-strip ul li.no-subnav a .primary-link {
     background: none !important;
     padding-right: 10px;
}

#nav-strip ul li:hover a .primary-link, #nav-strip ul li.hover a .primary-link {
     background: url("http://s4.reutersmedia.net/resources_v2/images/sprite-nav.png") no-repeat scroll 0% 0% transparent;

}

#nav-strip ul li:hover {
     background: none repeat scroll 0% 0% #999999;
}

#nav-strip ul li .subnav {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_nav_dropdown_shadow.png") repeat scroll 0% 0% transparent;
     display: none;
     left: -1px;
     padding-bottom: 2px;
     padding-right: 2px;
     position: absolute;
     top: 36px;
     z-index: 16777263;
}

#nav-strip .subnav-inner {
     background-color: #FFFFFF;
     border-bottom: 1px solid #999999;
     border-left: 1px solid #999999;
     border-right: 1px solid #999999;
     float: left;
}

#nav-strip ul li .subnav ul {
     float: left;
     margin: 0px;
     min-width: 130px;
	 padding-bottom: 5px;
     padding-top: 5px;
}

#nav-strip ul li .subnav ul.two {
     float: right;
}

#nav-strip ul li .subnav ul li {
     background-color: #FFFFFF;
     border-bottom: 1px solid #CCCCCC;
     border-left: medium none;
     border-right: medium none;
     display: block;
     float: none;
     height: auto;
     margin: 0px 7px;
     padding: 0px;

}

#nav-strip ul li .subnav.double {
     width: 272px;
}

#nav-strip ul li .subnav.double ul.one {
     margin-bottom: 3px;
     width: 130px;
}

#nav-strip ul li .subnav.double ul.two {
     width: 140px;
}

#nav-strip ul li .subnav.double ul.one li {
     margin: 0px 0px 0px 7px;
}

#nav-strip ul li .subnav ul li.lastChild {
     border-bottom: 1px solid #FFFFFF;
}

#nav-strip ul li .subnav ul li a, #nav-strip ul li.nav-item:hover .subnav ul li a {
     color: #555555;
     font-size: 12px;
     font-weight: normal;
     padding: 8px 0px 8px 5px;
     text-transform: capitalize;


}

#nav-strip ul li .subnav.double ul li a, #nav-strip ul li.nav-item:hover .subnav.double ul li a {
     padding-left: 5px;
     white-space: normal;
}

#nav-strip ul li .subnav ul li.active {
     background: none repeat scroll 0% 0% #FFFFFF;
}

#nav-strip ul li .subnav ul li.active a, #nav-strip ul li .subnav ul li a:hover {
     color: #006E97 ! important;
}

#bannerStrip, .ad {
     z-index: 8;
}

#footerHead {
     background: none repeat scroll 0% 0% #2C2C2C;
     clear: both;
     margin: auto;
     padding-top: 10px;
}

#footerHead .sectionContent {
     background: none repeat scroll 0% 0% #2C2C2C;
     padding: 0px;
}

#footer .sectionContent {
     background: none repeat scroll 0% 0% #333333;
}

#footer {
     background: none repeat scroll 0px 0px #333333 ! important;
     clear: both ! important;
     margin: 0px auto ! important;
     max-width: 100% ! important;
     padding: 12px 0px 30px ! important;
}

#footer .sectionContent, #footerHead .sectionContent {
     width: 960px;
}

#footer ul {
     display: inline;
     height: 15px;
     margin: 0px;
}

#footer h2 {
     color: #FFFFFF;
     font-size: 14px;
     font-weight: bold;
     margin: 0px 0px 5px;
     text-transform: uppercase;
}

#footer h3 {
     color: #FF8100;
     display: inline;
     font-size: 11px;
     font-weight: bold;
     margin: 0px 0px 5px;
     padding-right: 10px;
     text-transform: none ! important;
}

#footer ul li {
     display: inline;
     font-size: 11px;
     font-style: italic;
     margin: 0px ! important;
     padding: 0px;
}

#footer ul li.h-links {
     border-right: 1px solid #666666;
     float: left;
     padding-left: 5px;
     padding-right: 7px;
}

#footer ul li.h-linkend {
     float: left;
     padding-left: 5px;
}

#footer ul li a {
     color: #FFFFFF;
     font-style: normal;
}

#footer .copyright {
     color: #999999;
     font-size: 11px;
     margin: 10px 0px;
     text-align: right;
}

#footer .footerparent {
     -moz-box-sizing: border-box;
     color: #FF8100;
     display: inline;
     float: left;
     font-size: 11px;
     font-weight: bold;
     text-transform: none ! important;
     width: 150px;
}

#footer .footerparent a {
     color: #FF8100;
}

#footerHead #topLink {
     background-position: 0px -604px;
     color: #999999;
     float: right;
     font-size: 10px;
     font-weight: bold;
     margin-top: 10px;
     padding: 0px 0px 0px 14px;
}

#footerHead #topLink p {
     font-size: 12px;
     line-height: 1;
     margin: 0px;
}

#footerHead #topLink a {
     color: #999999;
     font-weight: bold;
}

#footer .columnLeft {
     height: 30px;
}

#footerHead #footerHeader {
     border-top: medium none ! important;
     display: inline;
     float: left;
     margin: 0px 10px;
     width: 940px;
}

#footerHeader #footerLogo {
     background-position: 0px -556px;
     height: 38px;
     padding-bottom: 10px;
     width: 168px;
}

#tr-footer {
     background-position: 0px -504px;
     height: 40px;
     width: 164px;
}

#footer .footerHalf {
     width: 110px;
}

#footerMap #editionChangeForm {
     color: #666666;
     font-size: 11px;
     margin: 0px 0px 5px;
}

#footerHeader .gridPanel {
     margin: 0px;
}

#footerHeader .columnLeft, #footerHeader .columnRight {
     clear: none ! important;
     display: block ! important;
     margin-right: 0px ! important;
}

#footer #tr-description {
     border-top: 4px solid #2C2C2C;
     color: #D6D6D6;
     font-size: 20px;
     padding: 14px 0px 8px;
     width: 100%;
}

#footer #disclaimer {
     color: #999999 ! important;
     display: inline;
     float: left;
     margin: 15px 10px;
}

#footer #disclaimer p {
     color: #999999 ! important;
     font-size: 10px;
     margin: 0px 0px 8px;
     padding: 0px;
}

#footer #disclaimer a {
     color: #CCCCCC;
}

#foot-facebook {
     background-position: 0px 0px;
     float: left;
     height: 17px;
     padding: 2px 0px 0px 22px ! important;
}

#foot-linkedin {
     background-position: 0px -27px;
     float: left;
     height: 17px;
     padding: 2px 0px 0px 22px ! important;
}

#foot-mobile {
     background-position: 0px -54px;
     float: left;
     height: 17px;
     padding: 2px 0px 0px 22px ! important;
}

#foot-newsletters {
     background-position: 0px -81px;
     float: left;
     height: 17px;
     padding: 2px 0px 0px 22px ! important;
}

#foot-podcasts {
     background-position: 0px -108px;
     float: left;
     height: 17px;
     padding: 2px 0px 0px 22px ! important;
}

#foot-rssfeed {
     background-position: 0px -135px;
     float: left;
     height: 17px;
     padding: 2px 0px 0px 22px ! important;
}

#foot-twitter {
     background-position: 0px -162px;
     float: left;
     height: 17px;
     padding: 2px 0px 0px 22px ! important;
}

#evidon-footer {
     border-right: medium none ! important;
     float: left;
     height: 20px ! important;
     padding: 0px 8px ! important;
}

#evidon-footer #_bapw-icon {
     border: 0px none ! important;
     display: inline ! important;
     float: left;
     margin-top: -2px;
     overflow: visible ! important;
     vertical-align: top ! important;
}

#evidon-footer #evidon-text {
     margin-left: 3px;
     vertical-align: top ! important;
}

#footer-endrow {
     border-left: 1px solid #666666;
}

.tr-products {
     display: inline;
     float: left;
}

.tr-products #tr-eikon, .tr-products #tr-elektron, .tr-products #tr-accelus, .tr-products #tr-westlaw, .tr-products #tr-onesource {
     background-color: #2C2C2C;
     display: inline;
     float: left;
     height: 140px;
     margin: 4px;
     width: 140px;
}

.tr-products #tr-linklist {
     display: inline;
     float: left;
     height: 140px;
     margin: 0px 0px 0px 10px;
     width: 140px;
}

#tr-linklist ul {
     float: left;
     height: 140px;
}

#tr-linklist ul li {
     border-bottom: 1px solid #2C2C2C;
     clear: left;
     display: block ! important;
     float: left;
     font-size: 11px;
     font-style: normal ! important;
     height: 19px;
     margin: 0px 0px 6px ! important;
     padding: 2px 0px ! important;
     width: 140px;
}

#tr-intro, #tr-info, #tr-logo {
     clear: left;
     display: inline;
     float: left;
     margin-right: 20px;

}

.tr-header1 a, .tr-header3 a, .tr-descr a {
     color: #FFFFFF;
}

.tr-header2 a, .tr-westlaw a {
     color: #FF8100;
}

#tr-eikon .tr-header1 a, #tr-elektron .tr-header1 a, #tr-accelus .tr-header1 a, #tr-westlaw .tr-header3 a, #tr-onesource .tr-header1 a {
     background: url("http://s1.reutersmedia.net/resources_v2/images/sprite-core2.png") no-repeat scroll 0px 0px transparent;
}

#tr-accelus .tr-header1 a {
     background-position: 0px -846px;
     display: block;
     height: 30px;
}

#tr-eikon .tr-header1 a {
     background-position: 0px -888px;
     display: block;
     height: 30px;
}

#tr-elektron .tr-header1 a {
     background-position: 0px -933px;
     display: block;
     height: 30px;
}

#tr-onesource .tr-header1 a {
     background-position: 0px -974px;
     display: block;
     height: 30px;
}

#tr-westlaw .tr-header3 a {
     background-position: 0px -1006px;
     display: block;
     height: 30px;
}

.tr-header1 {
     color: #FFFFFF;
     font-size: 14px;
     height: 30px;
     margin: 10px 8px 0px;
     padding-top: 2px;
     text-transform: uppercase;
}

.tr-header2 {
     color: #FF8100;
     font-size: 14px;
     margin: 0px 4px;
     padding-top: 2px;
     text-transform: uppercase;
}

.tr-header3 {
     color: #FFFFFF;
     font-size: 14px;
     height: 30px;
     margin: 10px 8px 0px;
     padding-top: 2px;
}

.tr-westlaw {
     color: #FF8100;
}

.tr-descr {
     color: #FFFFFF;
     font-size: 11px;
     margin: 4px 10px 0px;
     padding-top: 6px;
}

#masthead #utilities ul li.last {
     border: medium none;
     margin: 0px;
     padding: 0px 0px 0px 7px;
}

#masthead #utilities ul li.mid {
     border-left: 1px solid #666666;
     border-right: 1px solid #666666;
     margin: 0px 0px 0px 7px;
     padding: 0px 7px;
}

#header #utilities ul li#signin-control {
     background: none repeat scroll 0px 0px transparent;
     border: medium none;
     cursor: pointer;
     height: 18px;
     margin: 0px;
     padding: 2px 4px 0px 7px;
     width: 40px;
}
#header #utilities ul li.first_util{border: medium none;}

#header #utilities #signin-social {
     cursor: pointer;
     float: right;
     height: 18px;
     width: 98px;
}

#header #login-social-flyout {
     -moz-box-sizing: border-box;
     background: url("http://s3.reutersmedia.net/resources_v2/images/bg_gigya-top.gif") no-repeat scroll 10px 0px transparent;
     border: medium none;
     left: 526px;
     padding-top: 5px;
     position: absolute;
     top: 47px;
     width: 160px;
     z-index: 16777266;
}

#header #login-social-flyout div, #header #social-loggedin-flyout div {
     background-color: #434343;
}

#header #login-social-flyout .label {
     color: #999999;
     font-size: 10px;
     text-transform: uppercase;
}

#header #login-social-flyout #loadScreen {
     padding: 10px;
     text-align: center;
}

#header #login-social-flyout .label a {
     color: #FFFFFF;
}

#header #login-social-flyout .biglabel {
     color: #FFFFFF;
     font-size: 14px;
     margin: 0px;
     padding: 10px;
}

#header #login-social-flyout .biglabel a {
     border-bottom: medium none;
     color: #FFFFFF;
}

#header #login-social-flyout .biglabel a:hover {
     border-bottom: medium none;
}

#header #login-social-flyout #login-social-options {
     border: medium none;
     margin: 0px;
     padding: 0px 10px 10px;
}

#header #login-social-options .divider, #header #social-loggedin-flyout .divider, #header #social-loggedin-flyout .divider2 {
     background-color: #CCCCCC;
     height: 2px;
     margin-bottom: 10px;
     overflow: hidden;
}

#header #social-loggedin-flyout .divider2 {
     height: 1px;
     margin-bottom: 0px;
}

#header #login-social-flyout #login-social-options .gigyaAction {
     color: #FFFFFF;
     cursor: pointer;
     font-size: 13px;
     height: 18px;
     margin: 4px 0px;
}

#header #login-social-flyout #login-social-options .gigyaAction .hrefClone {
     color: #FFFFFF;
}

#header #login-social-flyout #login-social-options #rgaGoogle {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 114px 0px transparent;
}

#header #login-social-flyout #login-social-options #rgaYahoo {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 114px -18px transparent;
}

#header #login-social-flyout #login-social-options #rgaFacebook {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 114px -36px transparent;
}

#header #login-social-flyout #login-social-options #rgaLinkedin {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 114px -54px transparent;
}

#header #login-social-flyout #login-social-options #rgaMyspace {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 114px -72px transparent;
}

#header #login-social-flyout #login-social-options #rgaTwitter {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 114px -90px transparent;
}

#header #login-social-flyout #login-social-options #rgaAol {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 114px -108px transparent;
}

#gigya-controller {
     height: 1px;
     left: 0px;
     overflow: hidden;
     position: absolute;
     top: 0px;
     width: 1px;
     z-index: 0;
}

#header #utilities li#loggedin-social {
     background: url("http://s3.reutersmedia.net/resources_v2/images/btn_header_arrow_down.gif") no-repeat scroll 24px center transparent;
     border: medium none;
     cursor: pointer;
     height: 18px;
     padding: 0px 0px 0px 7px;
     width: 34px;
}

#header #utilities li#loggedin-social .socProvider {
     height: 18px;
     width: 17px;
}

#header #utilities li#loggedin-social .socProvider.aol {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 0px -108px transparent;
}

#header #utilities li#loggedin-social .socProvider.facebook {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 0px -36px transparent;
}

#header #utilities li#loggedin-social .socProvider.google {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 0px 0px transparent;
}

#header #utilities li#loggedin-social .socProvider.linkedin {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 0px -54px transparent;
}

#header #utilities li#loggedin-social .socProvider.myspace {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 0px -72px transparent;
}

#header #utilities li#loggedin-social .socProvider.twitter {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 0px -90px transparent;
}

#header #utilities li#loggedin-social .socProvider.yahoo {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 0px -18px transparent;
}

#social-loggedin-flyout {
     -moz-box-sizing: border-box;
     background: url("http://s3.reutersmedia.net/resources_v2/images/bg_gigya-top.gif") no-repeat scroll 5px 0px transparent;
     border: medium none;
     left: 448px;
     padding-top: 5px;
     position: absolute;
     top: 52px;
     width: 156px;
     z-index: 16777267;
}

#social-loggedin-flyout .label {
     color: #999999;
     font-size: 10px;
     margin: 0px;
     padding: 10px;
     text-transform: uppercase;
     width: auto;
}

#social-loggedin-flyout .gigyaLoggedIn {
     color: #999999;
     font-size: 12px;
     height: 18px;
     margin: 0px;
     overflow: hidden;
     padding: 0px 10px;
     text-transform: capitalize;
}

#social-loggedin-flyout .gigyaLoggedIn .providerName {
     display: block;
     font-weight: bold;
     padding-top: 1px;
}

#social-loggedin-flyout .gigyaLoggedIn.aol {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 128px -108px transparent;
}

#social-loggedin-flyout .gigyaLoggedIn.facebook {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 128px -36px transparent;
}

#social-loggedin-flyout .gigyaLoggedIn.google {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 128px 0px transparent;
}

#social-loggedin-flyout .gigyaLoggedIn.linkedin {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 128px -54px transparent;
}

#social-loggedin-flyout .gigyaLoggedIn.myspace {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 128px -72px transparent;
}

#social-loggedin-flyout .gigyaLoggedIn.twitter {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 128px -90px transparent;
}

#social-loggedin-flyout .gigyaLoggedIn.yahoo {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 128px -18px transparent;
}

#social-loggedin-flyout .manageAcct {
     border: medium none;
     margin: 0px;
     padding: 10px;
}

#social-loggedin-flyout .socialOptions {
     border: medium none;
     margin: 0px;
     padding: 0px 10px 10px;
}

#social-loggedin-flyout .biglabel {
     color: #FFFFFF;
     font-size: 11px;
     font-weight: bold;
     margin: 0px;
     padding: 0px 0px 10px;
}

#social-loggedin-flyout .biglabel a {
     color: #FFFFFF;
     font-size: 11px;
     font-weight: bold;
}

#social-loggedin-flyout .socialOptions ul {
     float: none;
     margin: 0px;
     padding: 0px 0px 18px;
}

#social-loggedin-flyout .socialOptions ul li {
     cursor: pointer;
     display: block;
     float: left;
     height: 18px;
     width: 22px;
}

#social-loggedin-flyout .socialOptions ul li.aol {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 0px -108px transparent;
}

#social-loggedin-flyout .socialOptions ul li.facebook {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 0px -36px transparent;
}

#social-loggedin-flyout .socialOptions ul li.google {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 0px 0px transparent;
}

#social-loggedin-flyout .socialOptions ul li.linkedin {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 0px -54px transparent;
}

#social-loggedin-flyout .socialOptions ul li.myspace {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 0px -72px transparent;
}

#social-loggedin-flyout .socialOptions ul li.twitter {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 0px -90px transparent;
}

#social-loggedin-flyout .socialOptions ul li.yahoo {
     background: url("http://s4.reutersmedia.net/resources_v2/images/bg_gigya_options.gif") no-repeat scroll 0px -18px transparent;
}

.md-toggle-left, .md-toggle-left2, .md-toggle-left3 {
     background: url("http://s1.reutersmedia.net/resources_v2/images/sprite-core2.png") repeat scroll 0px -1500px transparent;
     cursor: pointer;
     float: left;
     height: 20px;
     width: 20px;
}

.md-toggle-right, .md-toggle-right2, .md-toggle-right3 {
     background: url("http://s1.reutersmedia.net/resources_v2/images/sprite-core2.png") repeat scroll 0px -1520px transparent;
     cursor: pointer;
     float: left;
     height: 20px;
     width: 20px;
}

#md-toggle {
     left: 908px;
     margin: 0px auto;
     position: absolute;
     top: -24px;
     z-index: 2147483647;
	 display:none;
}

#market-cont {
     margin: 0px auto;
     position: relative;
     width: 960px;
}

.market-data-tag{color:#fff;text-decoration:none;}
.market-data-tag:hover{color:#fff;text-decoration:underline;}

#editionsFooter {
    display: none;
}
