@font-face {
  font-family: 'MB_Sintony';
  font-style: normal;
  font-weight: 400;
  src: local('Sintony'), url(http://themes.googleusercontent.com/static/fonts/sintony/v2/3U1YPkuvIZcjFV_iKr78mw.woff) format('woff');
}

@font-face {
  font-family: 'MB_Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: 'MB_Sanchez';
  font-style: normal;
  font-weight: 400;
  src: local('Sanchez'), local('Sanchez-Regular'), url(http://themes.googleusercontent.com/static/fonts/sanchez/v2/mx466fsxfR1AA3OwUm3waQ.woff) format('woff');
}

@font-face {
  font-family: 'MB_Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

@font-face {
  font-family: 'MB_Lato Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/HdGTqbEHKKIUjL97iqGpTvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'MB_Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://themes.googleusercontent.com/static/fonts/pacifico/v5/yunJt0R8tCvMyj_V4xSjafesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

@font-face {
  font-family: 'MB_Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), url(http://themes.googleusercontent.com/static/fonts/muli/v5/kU4XYdV4jtS72BIidPtqyw.woff) format('woff');
}

@font-face {
    font-family: 'MB_latoregular';
    src: url('http://static.mediabong.com/fonts/lato-regular-webfont.eot');
    src: url('http://static.mediabong.com/fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://static.mediabong.com/fonts/lato-regular-webfont.woff2') format('woff2'),
         url('http://static.mediabong.com/fonts/lato-regular-webfont.woff') format('woff'),
         url('http://static.mediabong.com/fonts/lato-regular-webfont.ttf') format('truetype'),
         url('http://static.mediabong.com/fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MB_oswaldregular';
    src: url('http://static.mediabong.com/fonts/oswald-regular-webfont.eot');
    src: url('http://static.mediabong.com/fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://static.mediabong.com/fonts/oswald-regular-webfont.woff2') format('woff2'),
         url('http://static.mediabong.com/fonts/oswald-regular-webfont.woff') format('woff'),
         url('http://static.mediabong.com/fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('http://static.mediabong.com/fonts/oswald-regular-webfont.svg#oswaldbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MB_pt_sansregular';
    src: url('http://static.mediabong.com/fonts/PTS55F-webfont.eot');
    src: url('http://static.mediabong.com/fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://static.mediabong.com/fonts/PTS55F-webfont.woff') format('woff'),
         url('http://static.mediabong.com/fonts/PTS55F-webfont.ttf') format('truetype'),
         url('http://static.mediabong.com/fonts/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MB_pt_sansbold';
    src: url('http://static.mediabong.com/fonts/PTS75F-webfont.eot');
    src: url('http://static.mediabong.com/fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://static.mediabong.com/fonts/PTS75F-webfont.woff') format('woff'),
         url('http://static.mediabong.com/fonts/PTS75F-webfont.ttf') format('truetype'),
         url('http://static.mediabong.com/fonts/PTS75F-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'MB_PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(http://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4T3sPXe5Q4a3bCZMR7ryN4o.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'MB_Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(http://fonts.gstatic.com/s/notosans/v6/LeFlHvsZjXu2c3ZRgBq9nBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'MB_Oswald Light';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(http://fonts.gstatic.com/s/oswald/v10/HqHm7BVC_nzzTui2lzQTDRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'MB Archivo Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('Archivo Narrow Regular'), local('ArchivoNarrow-Regular'), url(http://fonts.gstatic.com/s/archivonarrow/v5/DsLzC9scoPnrGiwYYMQXpj3sPXe5Q4a3bCZMR7ryN4o.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family:          "MB UnitSlabBlackCY";
	src:                  url("http://static.mediabong.com/fonts/unitslab-black-cyrillic.otf") format("opentype");
}


@font-face {
    font-family: 'MB_bebasneue';
    src: url('http://static.mediabong.com/fonts/bebasneue-webfont.eot');
    src: url('http://static.mediabong.com/fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://static.mediabong.com/fonts/bebasneue-webfont.woff') format('woff'),
         url('http://static.mediabong.com/fonts/bebasneue-webfont.ttf') format('truetype'),
         url('http://static.mediabong.com/fonts/bebasneue-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MB_roboto_slabregular';
    src: url('http://static.mediabong.com/fonts/RobotoSlab-Regular-webfont.eot');
    src: url('http://static.mediabong.com/fonts/RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://static.mediabong.com/fonts/RobotoSlab-Regular-webfont.woff') format('woff'),
         url('http://static.mediabong.com/fonts/RobotoSlab-Regular-webfont.ttf') format('truetype'),
         url('http://static.mediabong.com/fonts/RobotoSlab-Regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MB_Platform_Light';
    src: url('http://static.mediabong.com/fonts/Platform-Light.eot');
    src: url('http://static.mediabong.com/fonts/Platform-Light.eot?#iefix') format('embedded-opentype'),
         url('http://static.mediabong.com/fonts/Platform-Light.woff') format('woff'),
         url('http://static.mediabong.com/fonts/Platform-Light.ttf') format('truetype'),
         url("http://static.mediabong.com/fonts/Platform-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MB_Platform_Medium';
    src: url('http://static.mediabong.com/fonts/Platform-Medium.eot');
    src: url('http://static.mediabong.com/fonts/Platform-Medium.eot?#iefix') format('embedded-opentype'),
         url('http://static.mediabong.com/fonts/Platform-Medium.woff') format('woff'),
         url('http://static.mediabong.com/fonts/Platform-Medium.ttf') format('truetype'),
         url("http://static.mediabong.com/fonts/Platform-Medium.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MB_DroidSerif_Italic';
    src: url('http://static.mediabong.com/fonts/DroidSerif-Italic.eot');
    src: url('http://static.mediabong.com/fonts/DroidSerif-Italic.eot?#iefix') format('embedded-opentype'),
         url('http://static.mediabong.com/fonts/DroidSerif-Italic.woff') format('woff'),
         url('http://static.mediabong.com/fonts/DroidSerif-Italic.ttf') format('truetype'),
         url('http://static.mediabong.com/fonts/DroidSerif-Italic.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
        font-family:          "MB_Tungsten_Bold";
        src:                  url("http://static.mediabong.com/fonts/Tungsten-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'MB_open_sanscondensed_light';
    src: url('http://static.mediabong.com/fonts/OpenSans-CondLight-webfont.eot');
    src: url('http://static.mediabong.com/fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://static.mediabong.com/fonts/OpenSans-CondLight-webfont.woff') format('woff'),
         url('http://static.mediabong.com/fonts/OpenSans-CondLight-webfont.ttf') format('truetype'),
         url('http://static.mediabong.com/fonts/OpenSans-CondLight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MB_open_sans_condensedbold';
    src: url('http://static.mediabong.com/fonts/OpenSans-CondBold-webfont.eot');
    src: url('http://static.mediabong.com/fonts/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://static.mediabong.com/fonts/OpenSans-CondBold-webfont.woff') format('woff'),
         url('http://static.mediabong.com/fonts/OpenSans-CondBold-webfont.ttf') format('truetype'),
         url('http://static.mediabong.com/fonts/OpenSans-CondBold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face
{
	font-family:"MB_Ropa_Sans";
	src:url('http://static.mediabong.com/fonts/ropasans-regular-webfont.eot');
	src:url('http://static.mediabong.com/fonts/ropa_sans/ropasans-regular-webfont.eot#iefix') format('embedded-opentype'),
	url('http://static.mediabong.com/fonts/ropa_sans/ropasans-regular-webfont.woff2') format('woff2'),
	url('http://static.mediabong.com/fonts/ropa_sans/ropasans-regular-webfont.woff') format('woff'),
	url('http://static.mediabong.com/fonts/ropa_sans/ropasans-regular-webfont.ttf') format('truetype'),
	url('http://static.mediabong.com/fonts/ropa_sans/ropasans-regular-webfont.svg') format('svg')
}



.mb_bloc * { box-sizing: content-box!important; text-align: left!important; }
.mb_bloc li { list-style-image: none!important; }
.mb_btn_disabled { width:43px;height:45px;position:absolute;z-index:1000;cursor:pointer;top:50%;margin-top:-22px;background-position: bottom; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5; }
.mb_btn_enabled { width:43px;height:45px;position:absolute;z-index:1000;cursor:pointer;top:50%;margin-top:-22px;background-position: bottom; }
.mb_btn_enabled:hover { width:43px;height:45px;position:absolute;z-index:1000;cursor:pointer;top:50%;margin-top:-22px;background-position: top; }
.mb_videodiv img { width: auto!important; max-width: 100%!important; }
.mb_videodiv object { height: 100%!important; }
.mb_carousel_div img { width: auto; }
.mb_vertical .mb_videodiv object { height: 100%; }
.mb_vertical .mb_btn_disabled { width:30px;height:32px;position:absolute;z-index:1000;cursor:pointer;top:50%;margin-top:-22px;background-position: bottom; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5; }
.mb_vertical .mb_btn_enabled { width:30px;height:32px;position:absolute;z-index:1000;cursor:pointer;top:50%;margin-top:-22px;background-position: bottom; }
.mb_vertical .mb_btn_enabled:hover { width:30px;height:32px;position:absolute;z-index:1000;cursor:pointer;top:50%;margin-top:-22px;background-position: top; }

.mb_bloc_left_arrow { text-align: center!important; }
.mb_bloc_right_arrow { text-align: center!important; }

.mb_videodiv > div { height: 100%; }
.mb_bloc img { border: 0px!important; background: transparent!important; }
.mb_bloc video { width: 100%!important; height: 100%!important; }
.mb_bloc .video-js { width: 100%!important; height: 100%!important; }
.mb_bloc .vjs-skip-button { display: none!important; }
.mb_bloc_carousel { list-style-type : none; padding : 0px!important; margin : 0px!important; }
.mb_bloc_carousel_item { display: inline-block; margin: 0px!important; padding: 0px!important;}
.mb_bloc_carousel_item div { position: relative; width: 90%; margin-left: auto; margin-right: auto; }
.mb_bloc_carousel_play { position: absolute; left: 50%; top: 50%; max-width: 30%; cursor: pointer; width: auto!important; float: none!important; margin-right: 0px!important; margin-bottom: 0px!important; }
.mb_bloc_carousel_thumb { width: 100%; height: auto; float: none!important; margin-right: 0px!important; margin-bottom: 0px!important;}
.mb_bloc_item_title { overflow: hidden; word-wrap: break-word; cursor: pointer; margin-top: 7px; }
.mb_bloc_left_arrow { float: left; }
.mb_bloc_left_arrow img { cursor: pointer; width: auto!important; vertical-align: top!important; display: inline!important; float: none!important; margin-right: 0px!important; margin-bottom: 0px!important;}
.mb_bloc_right_arrow { position: absolute; right: 0px; }
.mb_bloc_right_arrow img { cursor: pointer; width: auto!important; vertical-align: top!important; display: inline!important; float: none!important; margin-right: 0px!important; margin-bottom: 0px!important;}
.mb_bloc_carousel_container { overflow: hidden; }
.mb_bloc_thumb_full { width: 100%; height: 100%; }
.mb_bloc_item_title span { display: block; }
.mb_videodiv { position: relative; margin-top: 0px; }
.mb_clear_left { clear: both; float: left; } 
.mb_vertical .mb_bloc_carousel_thumb { width: auto; height: 90%!important; }
.mb_bloc_after { height: 1px; width: 1px; }

.mb_bloc_viadeo { padding: 0px!important }
.mb_bloc_viadeo .mb_bloc_carousel_item { padding-top: 3px; padding-bottom: 3px; -webkit-box-sizing: border-box;	-moz-box-sizing: border-box; box-sizing: border-box; }
.mb_bloc_viadeo .mb_bloc_item_playing { background-color: rgba(66, 162, 214, 0.3); }
.mb_bloc_viadeo .mb_bloc_item_title { text-align: left; line-height: 1em!important; }
.mb_bloc_viadeo .mb_bloc_bottom_container { border-top : 1px solid #dfe3e6; padding-top: 10px; margin-top: 20px!important; }
.mb_bloc_viadeo .mb_bloc_mainvideo_title { position: relative; font-family: arial; margin-top: 5px; color: #007de3; font-size: 14px; font-weight: bold; text-align: left; overflow: hidden; height: 31px; }
.mb_bloc_viadeo .mb_bloc_mainvideo_title:after { content: "";text-align: right;position: absolute;bottom: 0;right: 0;width: 20%;height: 1.2em;background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%); } 

.mb_bloc_css_107 .mb_bloc_main_title { border-bottom: 1px solid #d4d4d4; padding-bottom: 3px!important; }

.mb_bloc_css_628 .mb_bloc_left_arrow { background-color: #dfe4eb; }
.mb_bloc_css_628 .mb_bloc_right_arrow { background-color: #dfe4eb; }
.mb_bloc_css_628 .mb_bloc_item_playing { background-color: #b7c3d6; }
.mb_bloc_css_628 .mb_bloc_item_playing .mb_bloc_item_title span { color: #7d8797!important; }
.mb_bloc_css_628 .mb_bloc_item_thumb { margin-left: 0px!important; }
.mb_bloc_css_628 .mb_bloc_main_title { margin-left: 10px!important; display: inline-block; width: auto!important; background-color: #222222; padding: 5px!important; }
.mb_bloc_css_628 .mb_bloc_main_title_wrapper { border-bottom: 1px solid #000; display: block;height: 15px;margin-bottom: 25px;position: relative; }
.mb_bloc_css_628 .mb_videodiv { margin-top: 0px!important; }
.mb_bloc_css_628 .mb_bloc_item_title span { font-weight: bold!important; }


.mb_bloc_css_876 .mb_bloc_mainvideo_title { font : bold 12px/20px Arial,sans-serif; }
.mb_bloc_css_457 .mb_bloc_mainvideo_title { font : bold 12px/20px Arial,sans-serif; color : #666666; text-transform: uppercase; }
.mb_bloc_css_457 .mb_bloc_main_title_wrapper { border-bottom: 2px solid #f47721; width: 100%;display: block;height: 19px;margin-bottom: 5px; }
.mb_bloc_css_457 .mb_bloc_main_title {background-color: #fff;display: inline-block;padding-right: 10px!important; width: auto!important;}
.mb_bloc_css_457 .mb_bloc_left_arrow { background-color: #f47721;}
.mb_bloc_css_457 .mb_bloc_right_arrow { background-color: #f47721;}
.mb_bloc_css_457 .mb_videodiv { margin-top: 10px!important; }

.mb_bloc_css_903 .mb_bloc_mainvideo_title { font : bold 12px/20px Arial,sans-serif; color : #666666; text-transform: uppercase; }
.mb_bloc_css_903 .mb_bloc_main_title_wrapper { border-bottom: 2px solid #f47721; width: 100%;display: block;height: 19px;margin-bottom: 5px; }
.mb_bloc_css_903 .mb_bloc_main_title {background-color: #fff;display: inline-block;padding-right: 10px!important; width: auto!important;}
.mb_bloc_css_903 .mb_bloc_left_arrow { background-color: #32b847;}
.mb_bloc_css_903 .mb_bloc_right_arrow { background-color: #32b847;}
.mb_bloc_css_903 .mb_videodiv { margin-top: 10px!important; }


.mb_bloc_css_821 { border:1px solid #ccc;}
.mb_bloc_waitscreen { position: absolute; top: 0px; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); text-align: center!important; font-family: arial; color: #ffffff;}
.mb_bloc_waitscreen img.thumb { max-width: 70%; max-height: 50%; }
.mb_bloc_waitscreen div.title { max-width: 70%; margin-left: auto; margin-right: auto; text-align: center!important;}
.mb_bloc_waitscreen span { font-weight: bold; }
.mb_bloc_poweredby { position: relative; float: right; font-size: 10px; color: #999; font-family: arial; margin-top: 3px; }

#mb_sponsor_title { position: relative; padding: 10px; }
.mb_sponsor_title_hNTn78a8Jmg { font-family: 'Muli'; text-align: center;padding-top: 5px;padding-bottom: 5px;background: #d67ead; color: #fff; }
.mb_sponsor_title_GvZmsqTtkjs { font-family: 'Muli'; text-align: center;padding-top: 5px;padding-bottom: 5px;background: #d67ead; color: #fff; }
.mb_sponsor_title_mj-_GIjEwrg { font-family: 'Muli'; text-align: center;padding-top: 5px;padding-bottom: 5px;background: #d67ead; color: #fff; }
.mb_sponsor_title_FkHQJD3KeB4 { font-family: 'Muli'; text-align: center;padding-top: 5px;padding-bottom: 5px;background: #d67ead; color: #fff; }
.mb_sponsor_title_rBpsiLm7KAM { font-family: 'Muli'; text-align: center;padding-top: 5px;padding-bottom: 5px;background: #d67ead; color: #fff; }
.mb_sponsor_title_td1dJ9gODFg { font-family: 'Muli'; text-align: center;padding-top: 5px;padding-bottom: 5px;background: #d67ead; color: #fff; }
.mb_sponsor_title_HQHu6TXeB0Y { font-family: 'Muli'; text-align: left; padding-left: 10px; padding-top: 5px;padding-bottom: 5px;background: #2274ac; color: #fff; }
.mb_sponsor_title_30 { font-family: 'Muli'; text-align: left; padding-left: 10px; padding-top: 5px;padding-bottom: 5px;background: #cc0000; color: #fff; }

.mb_bloc_css_8 { padding: 0px!important; background: #dadada!important;}
.mb_bloc_css_8 .mb_videodiv { padding: 0px; width: 97%!important; margin-left: auto!important; margin-right: auto!important; margin-top: 7px!important }
.mb_bloc_css_8 .mb_bloc_main_title {padding: 0px!important;margin: 0px!important;width: auto!important;color: #fff!important;font-size: 100%!important;background: #919191!important;font-style: italic!important;font-weight: 300!important;padding-left: 20px!important;height: 35px!important;line-height: 35px;}
.mb_bloc_css_8 .mb_bloc_after { background: transparent url(http://cdn1-europe1.new2.ladmedia.fr/bundles/europe1lelab/images/common/aside-background-grey.png) left top no-repeat; position: absolute; width: 100%; height: 27px; }

.mb_inpicture_thumbail { border: 1px solid #fff; }
.mb_inpicture_329 .mb_inpicture_item_sponsor { background: #ffcc99!important; }

.mb_bloc_css_861 .mb_bloc_mainvideo_title { font-family: 'MB_Noto Sans'; color: #fff; }

.mb_bloc_css_789 { padding-top: 0px!important; padding-left: 0px!important; padding-right: 0px!important; }
.mb_bloc_css_789 .mb_bloc_main_title {font-weight: 300!important; font-style: italic!important; font-family: "Open Sans"!important; background-color: #919191; padding-left: 20px!important; line-height: 35px; vertical-align: middle; width: auto!important;}
.mb_bloc_css_814 .mb_bloc_main_title {font-weight: 300!important; font-style: italic!important;}
.mb_bloc_css_827 .mb_bloc_mainvideo_title {color:white}
.mb_bloc_css_848 .mb_bloc_mainvideo_title {color:black;font-size:16px;font-weight:bold;padding-bottom:4px;}
.mb_bloc_css_887 .mb_bloc_main_title {font-style:italic!important;}

.mb_bloc_css_894 .mb_title {margin-bottom:10px!important;}
.mb_bloc_css_894 .mb_bloc_main_title {font-family:Trebuchet MS, Helvetica, Sans Serif!important;}
.mb_bloc_css_894 .mb_bloc_item_title span {font-family:Trebuchet MS, Helvetica, Sans Serif!important;}

.mb_bloc_css_315 .mb_bloc_mainvideo_title {font-size: 14px; font-weight: bold; text-transform: uppercase;}

.mb_bloc_css_306 .mb_vertical .mb_bloc_item_title {margin-left: 100px!important;}

.mb_bloc_css_862 .mb_bloc_mainvideo_title {font-size: 12px; color: #ffffff; font-family: MB_latoregular;}

.mb_bloc_css_844 .mb_bloc_mainvideo_title {font-family: 'MB Archivo Narrow'; text-transform: lowercase;}

.mb_bloc_css_598 {padding: 0px!important;}
.mb_bloc_css_598 .mb_bloc_main_title {font-size: 36px!important; text-transform: uppercase; background-color: white;}
.mb_bloc_css_598 .mb_bloc_bottom_container {padding-bottom:6px;}

.mb_bloc_css_610 .mb_bloc_main_title {text-transform: uppercase;}
.mb_bloc_css_610 .mb_bloc_mainvideo_title {font-family: 'AvantGardeExtraLight'; font-size: 18px; color: #000000; text-transform: uppercase;}
.mb_bloc_css_610 .mb_bloc_bottom_container {margin-top: 0px!important;background-color: #4c4b4b;padding:20px 0px 10px 0px;}

.mb_bloc_css_930 .mb_bloc_bottom_container img {margin-top: 0px;}

.mb_bloc_css_917 .mb_bloc_main_title {line-height: normal;}

.mb_bloc_css_945 {margin-bottom: 40px;background-image: url('http://dna.fr/files/fr/images/v0/filet_rouge.png'); background-repeat: no-repeat;border-top:1px solid #d51f27;}
.mb_bloc_css_945 .mb_bloc_item_title {height: 70px!important;}

.mb_bloc_css_952 .mb_bloc_mainvideo_title {font-size:13px;}

.mb_bloc_css_343 .mb_bloc_item_title {height: 65px!important;}

.mb_bloc_css_966 .mb_bloc_carousel_container {margin-left:16px;}

.mb_bloc_css_821 .mb_bloc_main_title_wrapper { display: block; padding: 5px; padding-left: 0px; }
.mb_bloc_css_821 .mb_bloc_main_title { display: inline; padding: 3px; background-color: #000; color: #fff;}
.mb_bloc_css_821 .mb_bloc_carousel_item { border-bottom: 1px dashed #fff; }

.mb_bloc_css_848 .mb_bloc_main_title { font-size:1.8em; padding: 3px; background-color: #c7362b; color: #ffffff; line-height:1.1em; border-top: 3px solid #932820; padding:0.3em 0.5em!important; }
.mb_bloc_css_848 { padding:0px!important; margin-top:10px; }

.mb_bloc_css_859 .mb_bloc_mainvideo_title { color: #fff; }

.mb_bloc_css_343 .mb_videodiv object { margin: 0px!important; }