html,
body {
	height: 100%;
}
body,
#twitchy-widget .widget-title,
#twitchy-widget ul,
#twitchy-widget ul li p {
	margin: 0;
	padding: 0;
}
#twitchy-widget {
	color: #333;
	font: 13px/1.5 "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	max-width: 100%;
}
#twitchy-widget .widget-title {
}
#twitchy-widget img {
	max-width: 100%;
	height: auto;
}
#twitchy-widget a img {
	border: none;
}
#twitchy-widget ul {
	list-style: none;
	margin: 0 0 10px 0;
}
#twitchy-widget ul li {
	padding: 8px 5px 8px;
	border-bottom: 1px dashed #FF6013;
}
#twitchy-widget ul li a,
#twitchy-widget ul li a:visited {
	color: #020202;
	text-decoration: none;
}
#twitchy-widget a,
#twitchy-widget a:visited,
#twitchy-widget ul li a:hover {
	color: #D83327;
}
#twitchy-widget ul li p {
	display: inline;
	padding-right: 3px;
}
#twitchy-widget > p,
#twitchy-widget #embed p {
	padding: 0 5px;
	margin: 0 0 5px;
	font-size: 85%;
}
#twitchy-widget #embed {
	display: none;
}
#twitchy-widget .share-embed-code {
	font-family: monospace;
	width: 85%;
	height: 45px;
	margin-left: 5px;
	resize: vertical;
	padding: 5px 8px 6px;
	font-size: 80%;
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,.1);
	-ms-box-shadow: inset 0px 1px 1px rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,.1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,.1);
	color: #333;
	border: 1px solid #d5d5d5;
	border-top-color: #b5b5b5;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
}