---
layout: landing
title: Home
permalink: /
---
<style type="text/css">
    /*button {
        opacity: 0.5;
        color: #FFF;
    }*/

    .landing-buttons {
        color: #000;
        font-weight: 300px !important;
    }

    .headline-copy {
        margin-top: 60px;
        color: #FFF;
        /*opacity: 0.7;*/
        font-weight: 100;
        font-size: 30px;
        line-height: 40px;
    }

    .headline-img {
        max-width:850px;
    }

    button {
        border: none;
        background-color: transparent;
        outline: none;
        border: 1px solid #FFFFFF;
        padding: 10px 16px;
        color: #FFFFFF;
        border-radius: 50px; 
        font-size:30px;
        height: 70px;
    }

    .btn-api {
        background-image: url(/assets/img/api-icon.png);
        background-repeat: no-repeat;
        vertical-align: middle;
        background-position: 4px center;
    }

    .btn-api-text {
        margin-left: 55px;
    }

    .btn-sdk {
        background-image: url(/assets/img/sdk-icon.png);
        background-repeat: no-repeat;
        vertical-align: middle;
        background-position: 4px center;
    }

    .btn-sdk-text {
        margin-left:35px;
    }

    .btn-guide {
        background-image: url(/assets/img/placement-icon.png);
        background-repeat: no-repeat;
        vertical-align: middle;
        background-position: 15px center;
    }

    .btn-guide-text {
        margin-left: 45px;
    }

</style>
<div id="service">
    <div class="container-fluid landing-container">
        <div class="row centered">
            <div class="col-md-12">
                <img class="headline-img" src="/assets/img/landing-brand-small.svg">
            </div>
            <!-- <div class="col-md-3">
                <i class="fa fa-terminal"></i>
                <h4>Code Samples</h4>
                <p>Please refer to following </p>
            </div> -->		 				
        </div>
        <div class="row centered headline-copy">
            Build on Top of Most Advanced Native Advertising Platform
        </div>
        <div class="row centered" style="margin-top:150px">
            <div class="col-sm-4">
                <a target="_blank" href="http://docs.adsnative.com/api_reference">
                    <button type="button" class="btn-api">
                        <!-- <span class="glyphicon glyphicon-wrench"></span> -->
                        <!-- <img src="/assets/img/API-icon.svg"> -->
                        <span class="btn-api-text">API Reference</span>
                    </button>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/sdk/">
                    <button type="button" class="btn-sdk">
                        <!-- <span class="glyphicon glyphicon-cog"></span> -->
                        <span class="btn-sdk-text">SDKs & Integrations</span>
                    </button>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/guides/">
                    <button type="button" class="btn-guide">
                        <!-- <span class="glyphicon glyphicon-list-alt"></span> -->
                        <span class="btn-guide-text">Placement Guides</span>
                    </button>
                </a>
            </div>
        </div>
    </div><! --/container -->
</div><! --/service -->


<!-- <div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>More About Our Agency.</h4>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
        </div>

        <div class="col-lg-3">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for post in site.categories['question'] %} 
                <p><a href="{{ post.url }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:5 %} 
                <p><a href="{{ post.url }}">{{ post.title }}.</a></p>
            {% endfor %} 
        </div>

    </div> --><! --/row -->
<!-- </div> --><! --/container -->