.tr-status {
	background-color: black;
	border: 3px solid red;
	border-radius: 3px;
	color: white;
	font-family: arial;
	font-size: 15px;
	position: fixed;
	top: 10px;
	right: 10px;
	padding: 0px 0px;
	opacity: .9;
	
	max-height: 350px;
	overflow: hidden;

	-webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.5);
	box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.5);	
	
	z-index: 9999999999;
}

.tr-item {
	margin: 10px 15px;  
}

.red {
	color: red;
}

.green {
	color: green;
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
	display:inline-block;
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}