/* ---- 300x250 ----*/

/*--- FRAME 1 ---*/

#line_1_1 {
	position: absolute;
	background-position: 0 -176px;
	width: 174px;
	height: 31px;
	left: 0px;
	top: 96px;
}
#line_1_2 {
	position: absolute;
	background-position: 0 -212px;
	width: 247px;
	height: 31px;
	left: 0px;
	top: 132px;
}
/*#line_1_3 {
	position: absolute;
	background-position: 
	left: 0px;
	top: px;
}*/

#graphic_1_1 {
	position: absolute;
	background-position: -1px -471px;
	width: 300px;
	height: 188px;
	left: 0px;
	top: 0px;
}

/*--- FRAME 2 ---*/

#line_2_1 {
	position: absolute;
	background-position: 0 -259px;
	width: 216px;
	height: 31px;
	left: 0px;
	top: 76px;
}
#line_2_2 {
	position: absolute;
	background-position: 0 -295px;
	width: 159px;
	height: 31px;
	left: 0px;
	top: 112px;
}
#line_2_3 {
	position: absolute;
	background-position: 0 -331px;
	width: 290px;
	height: 31px;
	left: 0px;
	top: 148px;
}

#graphic_2_1 {
	position: absolute;
	background-position: -1px -663px;
	width: 300px;
	height: 188px;
	left: 0px;
	top: 0px;
}

/*--- FRAME 3 ---*/


#line_3_1 {
	position: absolute;
	background-position: 0 -380px;
	width: 300px;
	height: 24px;
	left: 0px;
	top: 20px;
}
#line_3_2 {
	position: absolute;
	background-position: 0 -408px;
	width: 300px;
	height: 25px;
	left: 0px;
	top: 44px;
}
#line_3_3 {
	position: absolute;
	background-position: 0 -439px;
	width: 300px;
	height: 27px;
	left: 0px;
	top: 69px;
}

#graphic_3_1 {
	position: absolute;
	background-position: -6px -855px;
	width: 63px;
	height: 51px;
	left: 13px;
	top: 107px;
}
#graphic_3_2 {
	position: absolute;
	background-position: -73px -855px;
	width: 69px;
	height: 51px;
	left: 76px;
	top: 107px;
}
#graphic_3_3 {
	position: absolute;
	background-position: -145px -855px;
	width: 80px;
	height: 51px;
	left: 145px;
	top: 107px;
}
#graphic_3_4 {
	position: absolute;
	background-position: -229px -855px;
	width: 64px;
	height: 51px;
	left: 225px;
	top: 107px;
}
/*#graphic_3_5 {
	position: absolute;
	background-position: 
	left: px;
	top: px;
}*/

/*--- FRAME 3 BG BLACK ---*/

#bg_3 { background-color: black; }

#gradient {
	position: absolute;
	background-position: -12px -140px;
	width: 300px;
	height: 17px;
	left: 0px;
	top: 170px;
}

/*--------- END EDITABLES ---------*/

/*elements appear from left side - make left border*/
.textOnPanel {
	border-left: 50px solid #000;
	left: -50px !important;
}

.bg {
	position: absolute;
	width: 300px;
	height: 250px;
}

.sprite {
	display: inline-block;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(images/300x250_sprites_crushed.png);
}

.logo {
	position: absolute;
	background-position: -1px -1px;
	width: 120px;
	height: 64px;

	/*bottom padding for elastic ease*/
	border-bottom: 50px solid black;
}

.cta {
	position: absolute;
	background-position: -132px -1px;
	width: 180px;
	height: 64px;
}

.cta_over {
	position: absolute;
	background-position: -132px -71px;
	width: 180px;
	height: 64px;
}

#loading			,
#text_shell			,
#cta				,
#cta_default		,
#cta_default_shell	,
#cta_over			,
#logo
{
	position:absolute;
}

#loading{
	z-index: 1000;
}

#text_shell	{
	width: 100%;
	height: 100%;
	z-index: 10;
}

#loading			,
#text_shell			,
#cta				,
#cta_default		,
#cta_default_shell	,
#cta_over			,
#logo
{
	position:absolute;
}

#loading{
	z-index: 1000;
}

#text_shell	{
	width: 100%;
	height: 100%;
	z-index:10;
}

#logo {
	top: 187px;
}

/* -------------------------------------------------------- cta */
#cta {
	width: 380px;
	height: 90px;
	left: 120px;
	top: 187px;
	overflow:hidden;

	border-bottom: 50px solid #14ABE0;
}
#cta_default,
#cta_over,
#cta_default_shell {
	width: 100%;
	height: 100%;
}
#cta_default_shell{
	height: 63px;
	z-index: 20;
	overflow: hidden;
	border-bottom: 50px solid #14ABE0;
}
#cta_default {
	height: 63px;

}
#cta-over {
	height: 63px;
	z-index: 10;
}