.photo-gallery.slider .ad-wrapper {
  background: #444;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999999;
}
#gallery-modal .ad-wrapper {
  background: #444;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 999999;
}
.photo-gallery.slider .ad-wrapper iframe,
#gallery-modal .ad-wrapper iframe {
  position: absolute;
  margin-left: -147px !important;
  margin-top: -110px;
  top: 50%;
}
.photo-gallery.slider .countdown,
#gallery-modal .countdown {
  color: #ddd;
  display: block;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
  z-index: 99999999;
}
