#wire-notice {
    display: none;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin: 10px 0;
}
#wire-notice .back-btn {
    color: white;
    background: #ed1c24;
    padding: 5px;
    margin: 0 5px 0 15px;
    position: relative;
}
#wire-notice .back-btn::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 15px 12px 0px;
    border-color: transparent #ed1c24 transparent transparent;
    position: absolute;
    left: -15px;
    top: 0;
}
#wire-notice .whats-this {
    position: relative;
}
#wire-notice .whats-this .label {
    text-decoration: underline;
    cursor: help;
    display: inline-block;
    padding: 5px;
}
#wire-notice .whats-this .details {
    display: none;
    background: white;
    position: absolute;
    left: -50px;
    bottom: -60px;
    width: 200px;
    border: solid 1px #ccc;
    padding: 5px;
    -webkit-box-shadow: 0px 2px 5px 1px #ccc;
    box-shadow: 0px 2px 5px 1px #ccc;
    -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
}
#wire-notice .whats-this:hover .details {
    display: block;
}
#wire-notice .whats-this .details::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    width: 0;
    margin: auto;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #ccc transparent;
}
#wire-notice .whats-this:hover .details {
    display: block;
}
