.tpd-gallery-ad {
  background: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999999;
}
.tpd-gallery-ad div[id^="ad-300x250-"] {
  background: #222;
  display: block;
  height: 250px;
  width: 300px;
  z-index: 99999999;
}
.tpd-gallery-ad div.countdown {
  color: #fff;
  text-align: center;
  margin: 20px auto;
  font-style: italic;
}
.tpd-gallery-ad div.countdown a {
  color: #fff;
}
.tpd-gallery-ad div.countdown.finished {
  visibility: hidden;
}
@media screen and (max-width:760px) {
  .tpd-gallery-ad div.countdown.finished {
    visibility: visible;
  }
}
