.jrRoundedPanelLt{padding:0px;margin-bottom:0px;border:0px solid #ddd;background:#fefefe;border-radius:0px}
.jrContentTitle a{font-family:Lobster;color:#9e0301;font-size:20px;font-weight:300;line-height:1.3em}
.jrListings .jrContentTitle,.jrListings .jrContentTitle a{font-size:32px;font-weight:300;line-height:1.3}
.jrBlogview .jrResults .jrListItem{clear:both;position:relative;margin:0 0 5px!important;padding:0px}