#GlobalHeaderWidget {
  height: 5rem;
  position: relative;
  background-color: #fff;
  font-size: initial; }
  #GlobalHeaderWidget .GlobalHeader {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: visible;
    z-index: 99999;
    -webkit-font-smoothing: antialiased; }
    #GlobalHeaderWidget .GlobalHeader ul {
      margin: 0;
      padding: 0; }
    #GlobalHeaderWidget .GlobalHeader img {
      border: none; }
    #GlobalHeaderWidget .GlobalHeader *, #GlobalHeaderWidget .GlobalHeader *:before, #GlobalHeaderWidget .GlobalHeader *:after {
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 16px;
      font-size: 1rem;
      line-height: 16px;
      line-height: 1rem; }
    #GlobalHeaderWidget .GlobalHeader .GlobalHeader_JSMediaQueryHook {
      width: 1px;
      height: 1px;
      display: none;
      position: absolute; }
    #GlobalHeaderWidget .GlobalHeader .GlobalHeader_BgBar--Tall, #GlobalHeaderWidget .GlobalHeader .GlobalHeader_BgBar--Short {
      position: relative;
      width: 100%; }
    #GlobalHeaderWidget .GlobalHeader .GlobalHeader_BgBar--Tall {
      height: 3.125em;
      background-color: #fff; }
    #GlobalHeaderWidget .GlobalHeader .GlobalHeader_BgBar--Short {
      height: 1.875em;
      background-color: #ededed; }
    #GlobalHeaderWidget .GlobalHeader .GlobalHeader_BottomShadow {
      box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.5);
      width: 100%;
      top: 78px;
      height: 2px;
      position: absolute; }
    #GlobalHeaderWidget .GlobalHeader .mobileMenuOverlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 57.5x;
      width: 3.59375rem;
      height: 100%;
      overflow: visible;
      background-color: #000;
      z-index: 10;
      opacity: 0.2;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
      cursor: pointer;
      display: none; }
  #GlobalHeaderWidget .GlobalHeader_Content {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 1280px;
    max-width: 80rem;
    height: 80px;
    height: 5rem;
    margin-left: -648px;
    margin-left: -40.5rem;
    padding: 0 10px;
    padding: 0 0.625rem;
    z-index: 1; }
    #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_Content_Top {
      position: relative;
      width: 100%;
      height: 3.125em;
      min-width: 300px; }
    #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_Cobranding {
      visibility: hidden;
      display: inline-block;
      vertical-align: middle;
      max-height: 3.125em; }
    #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_Search {
      position: relative;
      width: 22.1875em;
      height: 2.1875em;
      display: inline-block;
      overflow: hidden;
      vertical-align: middle; }
    #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_Search_Body {
      position: absolute;
      top: 0;
      left: 360px;
      left: 22.5rem;
      width: 360px;
      width: 22.5rem;
      height: 35px;
      height: 2.1875rem;
      opacity: 0;
      -webkit-transition: left 400ms ease-in-out, opacity 400ms linear;
      -moz-transition: left 400ms ease-in-out, opacity 400ms linear;
      transition: left 400ms ease-in-out, opacity 400ms linear; }
      #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_Search_Body.open {
        left: 0;
        opacity: 1; }
    #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_Search_Field {
      position: relative;
      display: block;
      width: 170px;
      width: 10.625rem;
      height: 24px;
      height: 1.5rem;
      padding: 0.1875rem 0.625rem 0.125rem 0.625rem;
      margin: 0.1875rem 0.625rem 0 0;
      font-size: 14px;
      font-size: 0.875rem;
      color: #666;
      border: 1px solid #ccc;
      border-radius: 2px;
      float: left;
      text-transform: capitalize;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
    #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_Search_Mobile {
      display: none; }
    #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_Content--FloatRight {
      float: right;
      line-height: 50px; }
    #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_Logo {
      width: 130px;
      width: 8.125rem;
      height: 35px;
      height: 2.1875rem;
      margin: 11px 0 0 10px;
      margin: 0.6875rem 0 0 0.625rem;
      display: block;
      cursor: pointer;
      float: left; }
    #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_AffiliateLogo {
      line-height: 3.125rem;
      max-height: 35px; }
    #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_SearchIcon {
      width: 2.75em;
      height: 2.75em;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      padding: .75em; }
    #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_Menu {
      position: relative;
      width: 100%;
      height: 30px;
      height: 1.875rem;
      overflow: visible;
      clear: both; }
    #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_MainMenu {
      list-style-type: none; }
      #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_MainMenu > li {
        padding: 0 14px;
        padding: 0 0.875rem;
        height: 30px;
        height: 1.875rem;
        z-index: 1;
        position: relative; }
        #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_MainMenu > li:first-of-type {
          padding-left: 11.6x;
          padding-left: 0.725rem; }
      #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_MainMenu li {
        display: inline-block;
        background-color: transparent;
        line-height: 1.875em;
        position: relative;
        cursor: pointer; }
        #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_MainMenu li a {
          font-family: "Open Sans";
          font-size: .85em;
          font-weight: 600;
          color: #666;
          text-decoration: none;
          position: relative;
          line-height: 30px;
          line-height: 1.875rem; }
        #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_MainMenu li:hover, #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_MainMenu li.hover, #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_MainMenu li .GlobalHeader_SubMenu li:hover {
          background-color: #fff; }
          #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_MainMenu li:hover > a, #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_MainMenu li.hover > a, #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_MainMenu li .GlobalHeader_SubMenu li:hover > a {
            color: #000; }
        #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_MainMenu li:hover .GlobalHeader_SubMenu, #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_MainMenu li.hover .GlobalHeader_SubMenu {
          display: block; }
    #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_SubMenu {
      display: none;
      background-color: #f7f7f7;
      position: absolute;
      left: 0;
      top: 30px;
      top: 1.875rem;
      box-shadow: inset 0 4px 4px -3px rgba(0, 0, 0, 0.5);
      margin: 0;
      min-width: 270px;
      min-width: 16.875rem;
      max-width: 300px;
      max-width: 18.75rem;
      padding: 20px 0; }
      #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_SubMenu:before {
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0; }
      #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_SubMenu li {
        display: block;
        white-space: nowrap;
        line-height: 20px;
        line-height: 1.25rem;
        margin: 0; }
        #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_SubMenu li:hover {
          background-color: transparent; }
        #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_SubMenu li:before {
          content: none; }
        #GlobalHeaderWidget .GlobalHeader_Content .GlobalHeader_SubMenu li a {
          text-decoration: none;
          font-weight: 600;
          font-size: 16px;
          font-size: 1rem;
          display: block;
          line-height: 20px;
          line-height: 1.25rem;
          padding: 10px 10px 10px 17px; }

@media (max-width: 80em) {
  #GlobalHeaderWidget .GlobalHeader_Content {
    left: 0;
    margin-left: 0; } }
@media (max-width: 64em) {
  #GlobalHeaderWidget .GlobalHeader_Content {
    padding: 0; }
  #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Menu {
    margin-left: 10px;
    margin-left: 0.625rem; } }
@media (max-width: 47.9375em) {
  #GlobalHeaderWidget {
    height: 3.125em; }
    #GlobalHeaderWidget .GlobalHeader .GlobalHeader_BgBar--Short {
      display: none; }
    #GlobalHeaderWidget .GlobalHeader .GlobalHeader_JSMediaQueryHook {
      display: block; }
    #GlobalHeaderWidget .GlobalHeader .GlobalHeader_BottomShadow {
      display: none; }
    #GlobalHeaderWidget .GlobalHeader .GlobalHeader_MobileHamburger {
      position: absolute;
      top: 0;
      left: 0.625em;
      margin: 0;
      background-color: #efefef;
      width: 3.625em;
      height: 3.125em;
      margin: 0 0.625em 0 -0.625em;
      padding: 1.0625em 0 0 1.1875em;
      cursor: pointer;
      float: left;
      z-index: 2; }
      #GlobalHeaderWidget .GlobalHeader .GlobalHeader_MobileHamburger:before, #GlobalHeaderWidget .GlobalHeader .GlobalHeader_MobileHamburger:after {
        content: " ";
        display: block; }
      #GlobalHeaderWidget .GlobalHeader .GlobalHeader_MobileHamburger .IconLine, #GlobalHeaderWidget .GlobalHeader .GlobalHeader_MobileHamburger:before, #GlobalHeaderWidget .GlobalHeader .GlobalHeader_MobileHamburger:after {
        background-color: #999;
        width: 1.25em;
        height: 0.125em;
        margin-bottom: 0.3125em; }
      #GlobalHeaderWidget .GlobalHeader .GlobalHeader_MobileHamburger.open {
        background-color: #F7F7F7; }
        #GlobalHeaderWidget .GlobalHeader .GlobalHeader_MobileHamburger.open:before, #GlobalHeaderWidget .GlobalHeader .GlobalHeader_MobileHamburger.open:after, #GlobalHeaderWidget .GlobalHeader .GlobalHeader_MobileHamburger.open .IconLine {
          background-color: #000; }
    #GlobalHeaderWidget .GlobalHeader .GlobalHeader_MainMenu {
      display: none; }
    #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Menu {
      height: auto;
      margin: 0; }
    #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Menu.open {
      position: absolute;
      left: 0;
      width: 100%;
      background-color: #F7F7F7;
      padding: 20px 20px 40px; }
      #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Menu.open .GlobalHeader_MainMenu {
        display: block;
        width: 100%;
        background-color: #F7F7F7; }
        #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Menu.open .GlobalHeader_MainMenu li:before {
          content: none; }
        #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Menu.open .GlobalHeader_MainMenu > li:first-of-type {
          display: block; }
        #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Menu.open .GlobalHeader_MainMenu > li {
          display: block;
          z-index: 0;
          opacity: 1;
          padding: 0;
          height: 38px; }
          #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Menu.open .GlobalHeader_MainMenu > li.active {
            z-index: 1;
            background: transparent; }
          #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Menu.open .GlobalHeader_MainMenu > li:before {
            border: 0; }
          #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Menu.open .GlobalHeader_MainMenu > li a {
            text-decoration: none;
            background-color: transparent;
            display: block;
            padding: 10px 10px 10px 17px;
            font-size: 17.6px;
            font-size: 1.1rem;
            line-height: 17.6px;
            line-height: 1.1rem; }
        #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Menu.open .GlobalHeader_MainMenu .GlobalHeader_SubMenu.open {
          width: 100%;
          top: 0;
          left: 2.375em;
          opacity: 1;
          -webkit-transition: left 400ms ease-in-out;
          -moz-transition: left 400ms ease-in-out;
          transition: left 400ms ease-in-out;
          position: absolute;
          margin: 0;
          width: 100%;
          height: auto;
          min-height: 288px;
          list-style-type: none;
          background-color: #F7F7F7;
          display: block;
          max-width: initial; }
          #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Menu.open .GlobalHeader_MainMenu .GlobalHeader_SubMenu.open:before {
            display: none; }
          #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Menu.open .GlobalHeader_MainMenu .GlobalHeader_SubMenu.open a {
            line-height: 24px;
            line-height: 1.5rem; }
    #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Content {
      height: 0; }
      #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Content .GlobalHeader_Content_Top {
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
        z-index: 2; }
      #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Content .GlobalHeader_LogoLink {
        margin-left: 68px;
        margin-left: 4.25rem;
        display: block; }
      #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Content .GlobalHeader_Search, #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Content .GlobalHeader_MainMenu li:hover .GlobalHeader_SubMenu {
        display: none; }
      #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Content .GlobalHeader_Search_Mobile {
        display: none;
        position: absolute;
        top: 3.125em;
        left: 0;
        padding: 0.625em 1%;
        width: 100%;
        background-color: #fff; }
        #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Content .GlobalHeader_Search_Mobile.tempHide {
          display: none; }
        #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Content .GlobalHeader_Search_Mobile.open {
          display: block; }
        #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Content .GlobalHeader_Search_Mobile .GlobalHeader_Search_Field {
          width: 34%;
          height: 1.875em;
          margin: 0 1% 0 0;
          padding: 0 0.625em;
          font-size: 1.1em;
          font-family: "Open Sans";
          font-weight: 300;
          color: #666;
          border: 1px solid #ccc;
          border-radius: 2px;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
        #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Content .GlobalHeader_Search_Mobile input:last-of-type {
          margin-right: 0; }
        #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Content .GlobalHeader_Search_Mobile .GlobalHeader_Search_SearchButton, #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Content .GlobalHeader_Search_Mobile .GlobalHeader_Search_CancelButton {
          width: 14%;
          display: inline-block;
          height: 1.875em;
          padding: 0.0625em 0.625em 0.25em 0.625em;
          margin: 0 0 0 .5%;
          font-family: "Open Sans";
          font-size: 1.1em;
          text-align: center;
          white-space: nowrap;
          vertical-align: top;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          border-radius: 2px; }
        #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Content .GlobalHeader_Search_Mobile .GlobalHeader_Search_SearchButton {
          font-weight: 600;
          color: #fff;
          background: #ffc20e;
          background-color: #ffbd0e;
          background-image: -webkit-linear-gradient(#ffbd0e, #f28f1e);
          background-image: linear-gradient(#ffbd0e, #f28f1e);
          filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFBD0E', endColorstr='#F28F1E');
          border: 0; }
        #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Content .GlobalHeader_Search_Mobile .GlobalHeader_Search_CancelButton {
          font-weight: 300;
          border: 1px #A80000 solid;
          border-radius: 2px;
          color: #A80000;
          background-color: #fff; } }
@media (max-width: 40em) {
  #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Content .GlobalHeader_Search_Mobile .GlobalHeader_Search_Field {
    display: block;
    width: 100%;
    margin-bottom: 0.625em; }
  #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Content .GlobalHeader_Search_Mobile .GlobalHeader_Search_SearchButton, #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Content .GlobalHeader_Search_Mobile .GlobalHeader_Search_CancelButton {
    width: 49%;
    margin: 0;
    display: block; }
  #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Content .GlobalHeader_Search_Mobile .GlobalHeader_Search_SearchButton {
    float: left; }
  #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Content .GlobalHeader_Search_Mobile .GlobalHeader_Search_CancelButton {
    float: right; } }
@media (max-width: 30em) {
  #GlobalHeaderWidget .GlobalHeader .GlobalHeader_Cobranding {
    display: none; } }

