/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.NewspaperSearch {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin: 20px 0;
}

    .NewspaperSearch:last-child {
        margin-right: 0;
    }

    .NewspaperSearch .NewspaperSearch_Title {
        margin: 0 0 15px 0;
        font-family: "Open Sans";
        font-size: 16px;
        font-size: 1rem;
        font-weight: 700;
        color: #333;
        line-height: 1;
        text-transform: uppercase;
    }

    .NewspaperSearch .NewspaperSearch_Newspaper {
        width: 100%;
        margin: 0 0 10px 0;
        padding: 10px;
        overflow: hidden;
        border-radius: 3px;
        -webkit-transition: all 200ms linear;
        -moz-transition: all 200ms linear;
        transition: all 200ms linear;
        height: 70px;
        background: #fff;
        box-shadow: 0 0 5px 0 #999;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
    }

        .NewspaperSearch .NewspaperSearch_Newspaper:last-child {
            margin-right: 0;
        }

@media screen and (min-width: 40em) {
    .NewspaperSearch .NewspaperSearch_Newspaper {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        box-shadow: none;
        background: transparent;
    }

        .NewspaperSearch .NewspaperSearch_Newspaper:last-child {
            margin-right: 0;
        }

        .NewspaperSearch .NewspaperSearch_Newspaper:nth-child(2n) {
            margin-right: 0;
        }

        .NewspaperSearch .NewspaperSearch_Newspaper:nth-child(2n+1) {
            clear: left;
        }
}

@media screen and (min-width: 64em) {
    .NewspaperSearch .NewspaperSearch_Newspaper {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
    }

        .NewspaperSearch .NewspaperSearch_Newspaper:nth-child(2n+1) {
            clear: none;
        }

        .NewspaperSearch .NewspaperSearch_Newspaper:last-child {
            margin-right: 0;
        }

        .NewspaperSearch .NewspaperSearch_Newspaper:nth-child(1n) {
            margin-right: 0;
        }

        .NewspaperSearch .NewspaperSearch_Newspaper:nth-child(1n+1) {
            clear: left;
        }
}

.NewspaperSearch .NewspaperSearch_Newspaper:nth-child(n+9) {
    display: none;
}

@media screen and (min-width: 40em) {
    .NewspaperSearch .NewspaperSearch_Newspaper:nth-child(n+9) {
        display: block;
    }
}

@media screen and (min-width: 64em) {
    .NewspaperSearch .NewspaperSearch_Newspaper:nth-child(n+9) {
        display: none;
    }
}

.NewspaperSearch .NewspaperSearch_Newspaper.rightColumn {
    display: none;
}

@media screen and (min-width: 40em) {
    .NewspaperSearch .NewspaperSearch_Newspaper.rightColumn {
        display: block;
    }
}

@media screen and (min-width: 64em) {
    .NewspaperSearch .NewspaperSearch_Newspaper.rightColumn {
        display: none;
    }
}

.NewspaperSearch .NewspaperSearch_Newspaper .NewspaperSearch_Thumbnail {
    position: relative;
    width: 50px;
    height: 50px;
    float: left;
    box-shadow: none;
}

    .NewspaperSearch .NewspaperSearch_Newspaper .NewspaperSearch_Thumbnail img {
        width: 100%;
        height: auto;
    }

.NewspaperSearch .NewspaperSearch_Newspaper .NewspaperSearch_NewspaperInfo {
    display: block;
    position: relative;
    margin: 0 0 0 60px;
}

    .NewspaperSearch .NewspaperSearch_Newspaper .NewspaperSearch_NewspaperInfo a {
        text-decoration: none;
    }

    .NewspaperSearch .NewspaperSearch_Newspaper .NewspaperSearch_NewspaperInfo .NewspaperSearch_NewspaperInfo_Title {
        font-family: 'MrsEaves';
        color: #333;
        font-size: 16px;
        font-size: 1rem;
        line-height: 1;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 2px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

@media screen and (min-width: 64em) {
    .NewspaperSearch .NewspaperSearch_Newspaper .NewspaperSearch_NewspaperInfo .NewspaperSearch_NewspaperInfo_Title {
        font-size: 19.2px;
        font-size: 1.2rem;
    }
}

.NewspaperSearch .NewspaperSearch_Newspaper .NewspaperSearch_NewspaperInfo .NewspaperSearch_NewspaperInfo_Subtitle {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    color: #999;
    text-decoration: none;
}

.NewspaperSearch a.NewspaperSearch_ViewButton {
    width: 100%;
    padding: 22px;
    background-color: #dbd3ba;
    font-family: "Open Sans";
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: block;
    overflow: hidden;
    border-radius: 3px;
    -webkit-transition: all 350ms linear;
    -moz-transition: all 350ms linear;
    transition: all 350ms linear;
    box-shadow: 0 0 5px 0 #999;
}

.no-touch .NewspaperSearch_Newspaper:hover {
    background: #fff;
    box-shadow: 0 0 5px 0 #999;
}

    .no-touch .NewspaperSearch_Newspaper:hover .NewspaperSearch_NewspaperInfo_Title {
        color: #1077A0;
    }

.no-touch a.NewspaperSearch_ViewButton:hover {
    color: #dbd3ba;
    background-color: #fff;
}
