.stockSearchContainer {
	width:100%;
/*	padding:15px 0;	*/
}
.investingControlsContainer.module {  width: auto;}
.stockSearchContainer td {text-align:center;}
.stockSearchContainer div:last-child {
	padding: 8px 8px 6px 4px;
}
.searchbox {display: inline;}
.searchbox {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #5C5C5C;
	display:inline;
	float:left;
	margin: 10px 4px 0 4px;
	padding: 7px 5px 5px 3px;
	width: 400px;
	height: 20px;
}
.searchbox input.searchfield {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#FFFFFF none repeat scroll 0 0;
	border:medium none;
	color:#b1b1b1;
	display:inline;
	float:left;
	font-size:11px;
	font-weight:bold;
	margin:0;
	padding:2px 4px 0 2px;
	width:330px;
}
/* For Chrome */
 .searchbox input[type="image"] {
	display:inline;
	float:right;
	margin:0;	
}
 .searchbox input.searchbutton{
	display:inline;
	float:right;
	margin:0;
}
.stockSearchOptionsContainer {width:344px;margin-top: 8px;}
.stockSearchOptionsContainer, .stockSearchOptions {text-align:left;float: left; display: inline;}
.stockSearchOptions label {font-size: 11px;}
.stockSearchOptions {
	padding-right:3px;
	width:83px;
}
.investingControlsContainer {
	background: #f6f6f6;
	border-top: 1px solid #dedede;
	border-bottom: 4px solid #dedede;
	margin-bottom:12px;
	margin-right:0;
	padding: 10px 8px 16px 10px;
	overflow:hidden;
}
.stockSearchContainer .inputContainer {
	float: left;
	display: inline;
	margin-bottom: 10px;
}

/*.module.investingControlsContainer */

.moduleBody.investingControls{
	float:none !important;
	width:525px;
}
.moduleBody.investingControls2 {
	float:none !important;
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	text-align:center !important;
	width:525px;
}
.moduleBody.investingControls2 {width:615px;}
.moduleBody.investingControls2 .searchbox {margin: 0 10px 0 0;}
.searchInput, .searchInput2 {
	padding:6px 0;
	text-align: left;
	padding:0px;
	margin:0px;
}
.searchInput {float:left; width: 180px; padding-left:6px;}
.searchInput2{clear:both;}
.searchInput .label{text-transform:uppercase !important;font-size: 12px;}

.inputContainer_label {
		text-align: left;
		margin-bottom: 5px;
		text-transform: capitalize;
		font-size: 12px;
		font-weight: bold;
}
.searchRadio {clear:both; font-size: 11px;}
