
.column1 .topStory h1,
.column1 .topStory h2 {
    font-weight: normal;
}

.column1 .topStory h1 a,
.column1 .topStory h2 a,
.column1 .feature h2 a {
    color: #000;
}

.column1 .topStory p {
    font-size: 14px;
    color: #666;
}

.column1 .topStory ul li {
    font-size: 11px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.column1 .topStory ul li a {
    color: #000;
}

.column1 .feature {
    /* border-top: 1px dotted #CCC; */
    background: url("http://s3.reutersmedia.net/resources_v2/images/dotsHorizontal.gif") bottom left repeat-x;
    padding: 0 0 15px 0;
    margin: 15px 0 0 0;
}

* html .column1 .feature {
    padding: 0 0 10px 0;
}

.column1 .feature .relatedInfo {
    margin: 0;
}

.column1 .feature p {
    font-size: 12px;
    line-height: 1.5;
    color: #666;
    display: table;
}

* html .column1 .feature p {
    display: inline-block;
    width: 100%;
    wid\th: auto;
}

.column1 .feature p:after {
    display: block;
    line-height: 0;
    height: 0;
    visibility: hidden;
    content: "- - - - - (repeated)";
}

.columnLeft .feature p,
.columnRight .feature p {
    display: inline;
}

.columnLeft .feature p:after,
.columnRight .feature p:after {
    display: inline;
    line-height: 0;
    height: 0;
    visibility: hidden;
    content: "";
}

.column1 .module .moduleBody ul li,
.column1 .module .moduleBody .feature ul li {
    background-image: none !important;
    /* border-top: none;    border-bottom: none; */
    padding: 5px 0;
}

.column1 .module .moduleHeader {
    background: transparent;
    margin: 0;
}
.column1 .module .moduleHeader h3 {
    margin: 0;
    font-size: 12px;
    color: #000;
    text-align: left;
}

.column1 .module .moduleHeader h3 a {
    color: #000;
}

.column2 h1 {
    font-size: 14px;
}

#sectionHeader {
    display: inline;
    position: relative;
    width: 940px;
    margin: 16px 10px 18px;
    float: left;
    background: #FFF;
}

#sectionHeader #followButton {
    float: left;
    clear: none;
    margin: 14px 0 0 0;
    position: absolute;
    right: 2px;
    top: 34px;
}

#sectionHeader #followButton a, #footerTopics #followButton2 a,
#sectionHeader #followButton .hrefClone, #footerTopics #followButton2 .hrefClone {
    background-image: url("http://static.reuters.com/resources/media/global/assets/multivariate/bg_followButtonR_mv.gif");
}

#sectionFooter #followButton2 {
    float: right;
    clear: none;
    margin: 10px 0 0 0;
}

#sectionHeader .pageSponsor {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 38px;
    margin: 0;
    text-align: right;
}

#sectionTitle {
    float: left;
    clear: none;
    width: 100%;
    border-bottom: 4px solid #CCC;
    background: #FFF;
     margin: 0;
}

#sectionHeader #advert_8348938 {
    position: absolute;
    top: 15px;
    right: 0;
}

#sectionTitle h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
}

#sectionTitle h1 #topicDataInfo {
    font-size: 10px;
    color: #666;
    margin: 0 0 0 10px;
}

#sectionTitle h1 #topicDataInfo a {
    color: #666;
}

#sectionTitle h1 #topicDataInfo .changeUp,
#sectionTitle h1 #topicDataInfo .changeDown {
    font-size: 14px;
    font-weight: bold;
}

.sectionRelatedTopics {
    background-color: #F5F5F5;
    font-size: 11px;
    margin: 0;
    padding: 7px 190px 8px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: 1.5em;
    overflow: auto;
    height: 1%;
}

.sectionRelatedTopics.relatedIndustries { /*industries don't need room for a follow button*/
    padding: 7px 10px 8px 10px;
}
#headerTopics .sectionRelatedTopics.relatedIndustries h3{ /*industries h3 on its own line*/
    float: none;
    display: block;
}

#headerTopics .sectionRelatedTopics {

}

#footerTopics .sectionRelatedTopics {
    border-top: 3px solid #CCC;
}

#footerTopics {
    position:relative;
}
#headerTopics {
    width: 100%;
    float:left;
}

.sectionRelatedTopics a,  .sectionRelatedTopics .hrefClone.seeMoreTopics{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.sectionRelatedTopics h3 {
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
    color: #666;
    display: inline;
    margin: 0 10px 0 0;
    float: left;
}
.sectionRelatedTopics ul {
    float:left;
}
.sectionRelatedTopics ul li{
    display: inline;
    white-space:nowrap;
    float:left;
    margin-right: 15px;
}
.sectionRelatedTopics .seeMoreTopics {
    white-space: nowrap;
    background: url(http://s4.reutersmedia.net/resources_v2/images/arrowMoreTopics.gif) right center no-repeat;
    padding-right: 14px;
}

.sectionRelatedTopics .topicLinkLabel {
    font-size: 11px;
    font-weight: normal;
    color: #333;
    text-transform: uppercase;
    display: block;
    margin: 0 0 5px 0;
}

/*#footerTopics .actionButton {
    min-width: 30px;
    margin:3px 5px 10px 0;
    overflow:hidden;
}
#footerTopics .actionButton a {
    display:inline;
    height:17px;
    margin:0 0 0 4px;
    padding:4px 5px 0 1px;
    text-decoration:none;
    white-space:nowrap;
}*/

/*only IE7*/
html>body #footerTopics .actionButton {
    *overflow: visible;
    *display:inline;
    *zoom: 1;
}
html>body #footerTopics .actionButton a {
    *float:none;
    *display:inline;
    *overflow: visible;
    *zoom:1;
    *min-width: 30px;
}
/*end only IE7*/

#footerTopics #followButton2 {
    position: absolute;
    top: 4px;
    right: 2px;
    float: none;
    clear: none;
}

/*these live in #footerTopics */
#inlineRSSLinks { float: left; /*width: 100%;*/ padding: 10px 0 20px 0; }
#inlineRSSLink { float: left; display: inline; }
#inlineRSSLink a { font-size: 10px; font-weight: normal; text-transform: none; padding: 0 0 0 17px; margin: 0 20px 0 0; background: url("http://s4.reutersmedia.net/resources_v2/images/iconRSS.gif") top left no-repeat; }

#moreRelatedTopics0,#moreRelatedTopics1 {
    height: 0;
    overflow:hidden;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#moreRelatedTopicsContent {
    background: #F5F5F5;
    margin: 0;
    font-size:12px;
    padding:0 0 10px;
    line-height: 1.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float:left;
    width: 100%;
}

#moreRelatedTopicsContent h3{
    text-align: left;
    font-size: 12px;
    font-weight:normal;
    text-transform: none;
    color: #666666;
    display: none;
}
#moreRelatedTopicsContent ul {
    float:left;
    margin: 0;
}
#moreRelatedTopicsContent ul li{
    display: inline;
    white-space:nowrap;
    float:left;
    margin: 0 5px 0 0;
    padding: 0 0 0 10px;
}

#moreRelatedTopicsContent  a,
#moreRelatedTopicsContent  .hrefClone{
    text-transform: uppercase;
    white-space: normal;
    font-weight:bold;
    white-space: nowrap;
}


#contributorFooter {
    float: left;
    display: inline;
    width: 100%;
    margin: 10px 0 0 0;
}

#contributorFooter .module .moduleHeader {
    /* border: none; */
    background-image: none;
    padding: 0;
}

#contributorFooter .module .moduleHeader h3 {
    text-align: left;
}

#contributorFooter .module .moduleBody .inlinePhoto {
    border: 1px solid #CFCFCF;
    margin: 0 5px 0 0;
}

#contributorFooter .module .moduleBody .inlinePhoto img {
    width: 60px;
    height: 45px;
}

#contributorFooter .module .moduleBody h3 {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

#contributorFooter .contributorPanel {
    float: left;
    display: inline;
    width: 140px; margin: 0 10px 0 0;
}

#moreHeadlinesButton {
    float: left;
    width: 540px;
    height: 28px;
    background: #FFFFFF url("http://s4.reutersmedia.net/resources_v2/images/btn_previous_headlines.gif") top left no-repeat;
    cursor: pointer;
    cursor: hand;
    margin: 0 0 20px 0;
}

#moreHeadlinesButtonSmall {
    float: left;
    width: 415px;
    height: 28px;
    background: #FFFFFF url("http://s3.reutersmedia.net/resources_v2/images/btn_previous_headlines_small.gif") top left no-repeat;
    cursor: pointer;
    cursor: hand;
    margin: 0 0 20px 0;
}

#browseByDateButton {
    float: left;
    width: 125px;
    height: 28px;
    background: #FFFFFF url("http://s2.reutersmedia.net/resources_v2/images/btn_browse_by_date.gif") top left no-repeat;
    cursor: pointer;
    cursor: hand;
    margin: 0 0 20px 0;
}

#loadingNext20 {
    font-size: 12px;
    margin: 10px;
}

.rightNowContent .module {
    margin-top: -20px;
}

.moreSlideshows #moreHeadlinesButton {
    float: left;
    width: 619px;
    background: #FFFFFF url("http://s4.reutersmedia.net/resources_v2/images/btn_more_slideshows.gif") top left no-repeat;
}

#inlineNavigation {
    margin: 0 0 20px 0;
    float: left;
}
.grid7 #inlineNavigation .inlineNav, .grid8 #inlineNavigation .inlineNav  {
    float: left;
    width: 170px;
    margin: 0 10px 0 0;
    font-size: 11px;
    padding: 4px 0 5px 0;
    overflow: hidden;
    background: url("http://s3.reutersmedia.net/resources_v2/images/dotsHorizontal.gif") bottom left repeat-x;
    text-transform: uppercase;
}
.grid8 #inlineNavigation .inlineNav  {width: 196px;}

/************/
/* Summits */
/***********/
.summitHeader {position:relative; background-image: none; padding-bottom:0;}
.summitHeader h3, .summitHeader h3 a{ font-size: 26px; color:#333333; margin:0; font-weight:normal; text-transform:none;}
.summitHeader h4.summitDate {font-size: 18px; color:#999999; margin-top:0; font-weight:normal;}
.summitHeader img#HeaderImage {margin-bottom:0;}
.summitHeader .summitOverlay{position: absolute; bottom: 0px; left: 0px; z-index:2; opacity:0.8;}

.summitHeaderSm {position:relative; padding-bottom:0; overflow:auto; float:left; padding: 10px 0;}
.column2 .summitHeaderSm {background: url("http://s3.reutersmedia.net/resources_v2/images/dotsHorizontal.gif") bottom left repeat-x;}
.summitHeaderSm h3 {margin: 0 5px 0 145px;}
.summitHeaderSm h3, .summitHeaderSm h3 a{ font-size: 18px; color:#333333; font-weight:normal; text-transform:none;}
.summitHeaderSm h4.summitDate {font-size: 18px; color:#999999; font-weight:normal; margin: 0 5px 0 145px;}
.summitHeaderSm .photo {float:left;}
.summitHeaderSm .linebreak {float:none;}

.summitTable table.dataTable thead.dataSmall tr th,
.summitTable table.dataTable thead.dataSmall tr th a {color:#000;}

.summitSpeakers .module .moduleBody ul{margin-left:10px;}
.summitSpeakers .module .moduleBody ul li {list-style-image: url("http://s2.reutersmedia.net/resources_v2/images/list-bullet-square.gif"); background-image:none; font-weight:normal; margin: 0 0 10px 5px; padding:0; font-size: 12px; color: #666666;}


/************/
/* For partner modules at the bottom of some topic pages */
/************/

#partner-modules {}
#partner-modules .module {
margin-bottom: 10px;
padding-bottom: 5px;
}
#partner-modules .fromOurPartnersTitle {margin: 0 0 20px 10px;}

#partner-modules .module .moduleBody ul {
clear:none;
margin:0 0 10px;
width:335px;
padding: 0 0 0 10px;
border-left: 1px solid #ccc;
}
#partner-modules .column1 .module .moduleBody ul li, #partner-modules .column2 .module .moduleBody ul li  {
padding: 8px 0;
background: transparent url(http://s3.reutersmedia.net/resources_v2/images/dotsHorizontal.gif) repeat-x scroll left bottom !important;
}
#partner-modules .partner-logo {
float: left;
width: 110px;
padding: 30px 0;
}

/* Live Events */

.liveEvent h1,
.liveEvent h2 {
    font-size: 14px;
    background: url("http://s4.reutersmedia.net/resources_v2/images/bg_live_coverage_header.gif") top left no-repeat;
    margin: 0;
    padding: 6px 6px 6px 56px;
    border-bottom: 2px solid #CCC;
    margin: 0 0 10px 0; }

.liveEvent h1 a,
.liveEvent h2 a {
    color: #000;
    margin: 0;
}

/*
#content .column1 .liveEvent h1,
#content .column1 .liveEvent h2 { padding: 6px; }
*/

#content .grid8 .liveEvent .photo { border: 1px solid #333; }
#content .grid8 .liveEvent .photo iframe { width: 618px; }
#content .grid8 .liveEvent h1,
#content .grid8 .liveEvent h2 { margin-bottom: 5px; }

#content .grid4 .liveEvent .photo iframe { width: 300px; }

#analystResearchReports table {
    margin: 10px 0 0 0;
}
#analystResearchReports table tr th {
    background: #EEE;
    padding: 4px 5px;
    font-size: 10px;
    text-transform: uppercase;
    border-bottom: none;
}
#analystResearchReports table tr.stripe td {
    background: #FFF;
}
#analystResearchReports table tr td {
    padding: 10px 5px;
    border-bottom: 1px solid #EEE;
}
#analystResearchReports .reportName {
    font-size: 12px;
}
#analystResearchReports .reportProvider {
    color: #666;
    margin: 2px 0 0 0;
}
#analystResearchReports .reportPrice {
    font-weight: bold;
    color: #666;
}
#analystResearchReports .reportAction {
    margin: 5px 0 0 0;
}
#analystResearchReports .reportAction .actionButton.breaking a {
    font-weight: normal;
}
#analystResearchReports .footnote {
    display: none;
}
#moreVideoStrip .module { margin-bottom: 0px; }
#moreVideoStrip .mediaList .columnLeft, #moreVideoStrip .mediaList .columnCenter { margin-right: 20px; }
#moreVideoStrip .photo4up { margin-bottom: 0; }
#moreVideoStrip .size193 .feature { width: 193px; margin: 0; overflow: hidden; }
#moreVideoStrip .size193 .feature .photo { margin: 0 0 5px 0; }
#moreVideoStrip .size193 .feature .photo img { width: 193px }

.bigStory h1,
.bigStory h2 {
    margin: 0 0 10px 0;
    font-size: 34px;
    line-height: 1.1;
    font-weight: normal;
}

.bigStory h1 a,
.bigStory h2 a {
    color: #000;
}

.bigStory {
    margin: 0 0 15px 0;
}

.bigStory .photo {
    margin: 0 0 15px 0;
}

.bigStory p {
    font-size: 13px;
    line-height: 1.5;
    color: #666;
    padding: 0;
    margin: 0;
}

.bigStory ul {
    margin: 0;
}

.bigStory ul li {
    font-size: 11px;
    background-image: none;
    margin: 0 0 10px 0;
    padding: 0;
}

.bigStory .byline {
    font-size: 9px;
    color: #666;
    white-space: nowrap;
}

.bigStory .byline a {
    color: #666;
}

#social-follow .moduleHeader {
    background: none;
    padding: 5px 0;
    margin: 0;
}
#social-follow .moduleHeader h3,
#social-follow .moduleHeader h3 a {
    font-size: 12px;
    color: #000;
    margin: 0;
    padding: 0;
}

/* Overrides for leaderboard ad */
#div_ad_lb {
    margin: 0 !important;
}

#div_ad_lb_ad_container {
    width: 728px;
    margin: 0 auto;
}

#div_ad_mpu {
    margin-bottom: 19px !important;
}
